// =====
// Footer styling for the global footer that appears on every page.
// =====

.footer-copy {
  grid-column: 1 / 6;
  margin: $item-spacing-4 0;
}

.footer-links {
  grid-column: 6 / -1;
  margin: $item-spacing-4 0;
}

.footer-icon {
  margin: 0;
}

.footer-icon svg {
  height: $icon-size;
  vertical-align: middle;
  width: $icon-size;
}

.footer-item {
  padding: 0 $icon-size / 2;
}
