// =====
// Styles the global site nav (implemented as a sticky fixed header at the top of every
// page). Handles animations across it too.
// =====

nav {
  @extend %max-width-element;
}

.logo {
  font-size: 2.3em;
  letter-spacing: -.12em;
  line-height: 1;
}

.nav-items {
  @extend %nav-padding;
}
