// =====
// Styles the global site nav (implemented as a sticky fixed header at the top of every
// page). Handles animations across it too.
// =====

.logo {
  font-size: 2.3em;
  letter-spacing: -.12em;
  line-height: 1;
}

.fixed-header {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

// This is pretty weird and cool - if we're on a phone
// that supports backdrop filtering, let's add a content
// filter and translucent background
.translucent-header {
  $filter: blur(24px) saturate(150%);

  @supports (-webkit-backdrop-filter: $filter) {
    @include for-phone-only {
      @include background-translucent;

      -webkit-backdrop-filter: $filter;
      backdrop-filter: $filter;
    }
  }
}
