// =====
// Styles the project card component on the the main index page as nested under project-grid
// - pages: index.html
// =====

.card {
  padding: 0 spacing(5);
}

.project-card {
  $scale-up-hover: 1.06;

  align-content: space-around;

  @include for-tablet-up {
    &:nth-child(2) {
      grid-row-start: 1; // Pulls showcase to the right
    }
  }

  &:hover {
    .card-component-on-hover-scale-up {
      transform: scale($scale-up-hover);
    }
  }
}
