// =====
// Styles the projects section of the main index page
// - pages: index.html
// =====

.project-grid {
  display: grid;

  @include for-phone-up {
    grid-gap: $item-spacing-4;
    grid-template-columns: 1fr;
  }

  @include for-tablet-up {
    grid-gap: $item-spacing-5;
    grid-template-columns: repeat(2, 1fr);
  }
}
