/*
 * Colors for app
 */

// Raw color values
$color-dim: #000000;
$color-deep: #615853; //in Sketch: #6C6A69???;
$color-muted: #C0C0C0;
$color-bright: #F5F5F5;

$color-primary-dim: #18B58F;
$color-primary-bright: #1CD1A5;

// Applied color values
$color-bg: $color-bright;
$color-text-dark: $color-deep;
$color-text-light: $color-bright;
$color-text-muted: $color-muted;
$color-text-active: $color-primary-dim;

/* 
 * Measurements and values
 */

// Basic pixel measurements
$inset: 20px;
$header-height: 100px;
$intro-max-width: 600px;
$intro-text-width: 430px;
$intro-inset-thin: 1.5 * $inset;
$intro-inset-wide: 2.5 * $inset;

// Text measurements
$font-weight-nav: 500;
$font-weight-semibold: 600;
$font-size-h1: 1.8em;
$font-size-default: 1.1em;
$font-line-height: 1.5em;

// Unitless config measurements
$bg-transparency: 0.5;

/*
 * Third party config
 */

/* Changing Susy default global settings */
$susy: (
  columns: 12,
  // container: 1320px, // max-width
  global-box-sizing: border-box 
 );
