/*
 * Colors for app
 */

// Raw color values
$color-dim: #000000;
$color-deep: #615853; //in Sketch: #6C6A69???;
$color-muted: #C0C0C0;
$color-bright: #F5F5F5;

$color-primary-dim: #18B58F;
$color-primary-bright: #1CD1A5;

// Applied color values
$color-bg: $color-bright;
$color-text-dark: $color-deep;
$color-text-light: $color-bright;
$color-text-muted: $color-muted;
$color-text-active: $color-primary-dim;
$color-shadow: $color-dim;

/* 
 * Measurements and values
 */

 // General unitless measurements
$bg-transparency: 0.5;
$shadow-transparency: 0.8;
$z-top: 999;

// Intro component measurements
$inset: 20px;
$header-height: 100px;
$intro-max-width: 600px;
$intro-text-width: 430px;
$intro-inset-thin: 2.5 * $inset;
$intro-inset-wide: 2.5 * $inset;

// Project card component measurements
$proj-per-row: 3;
$proj-shadow-amt: 6px;
$proj-shadow-off: 1px;
$proj-shadow-color: transparentize($color-shadow, $shadow-transparency);
$proj-hover-img: 30px;
$proj-hover-text: 2.2vw;
$proj-hover-scale: 1.1;
$proj-thumb-pad: 2vw;
$proj-text-margin: 10px;
$proj-term-pad: 4px;
$font-weight-proj-title: 500;
$font-weight-proj-desc: 400;
$font-weight-proj-term: 600;
$font-size-proj-desc: 0.95em;
$font-size-proj-term: 0.8em;
$font-line-proj-desc: $proj-hover-text;

// Other font measurements
$font-weight-nav: 500;
$font-weight-semibold: 600;
$font-size-h1: 1.8em;
$font-size-default: 1.1em;
$font-line-height: 1.5em;

/*
 * Third party config
 */

/* Changing Susy default global settings */
$columns: 12;
$susy: (
  columns: $columns,
  // container: 1320px, // max-width
  global-box-sizing: border-box 
 );
