// For IntroComponent - included only with that IntroComponent
intro-area {
	display: block;
	margin: $intro-inset-thin auto $intro-inset-wide auto;
	max-width: $intro-max-width;
	img {
		display: inline-block;
		margin-right: $intro-inset-wide;
	}

	.text {
		display: inline-block;
		max-width: $intro-text-width;
	}
}