/*
 * Mixins and extensions to be used globally
 */

 .fake-underline {
	content: '';
	position: absolute;
	left: 0;
	display: inline-block;
	height: 1.5em;
	width: 100%;
	border-bottom: 2px solid;
	margin-top: 5px;
}

.show {
	opacity: 1.0;
}

.hide {
	opacity: 0;
}

.fill-parent {
	margin: 0;
	padding: 0;
	display: block;
	max-width: 100%;
	height: auto;
}

// Animates transitions
@mixin anim($property) {
	$style: ease-out;
	$duration: 0.3s;
	-webkit-transition: $property $duration $style;
	-moz-transition: $property $duration $style;
	-ms-transition: $property $duration $style;
	-o-transition: $property $duration $style;
	transition: $property $duration $style;
}

// Box shadows prefixin
@mixin box-shadow($x, $y, $blur, $color) {
	-webkit-box-shadow: $x $y $blur 0px $color;
	-moz-box-shadow: $x $y $blur 0px $color;
	box-shadow: $x $y $blur 0px $color;
}

// Filters an image
@mixin dim-image($amt) {
	-webkit-filter: brightness($amt);
	filter: brightness($amt);
}