// Contains styles for navigation of app
nav {
	display: block;
	height: $header-height - $inset - $inset;
	padding: $inset;

	img {
		float: left;
	}

	ul {
		float: right;
		li {
			display: inline-block;
			margin: 0 $inset;
			color: $color-text-muted;
			a {
				@include anim(color);
				display: inherit;
				color: inherit;
				position: relative;
				text-decoration: none;
				font-weight: $font-weight-nav;
				font-size: $font-size-default;

				&:after {
					@include anim(opacity);
					@extend .fake-underline;
					opacity: 0;
				}

				&:hover {
					color: $color-text-dark;
					&:after {
						opacity: 1.0;
					}
				}
				&.router-link-active {
					color: $color-text-active;
					&:after {
						opacity: 1.0;
					}
				}					
			}
		}
	}
}