/* Styles targeting the project grid */
projects {
	@include container;
}

project-card {
	@include anim(all);
	display: block;
	position: relative;
	max-height: 500px; // TODO: fix better?
	background: $color-primary-dim;

	// Default on largest screen is 3 column grid of projects
	@include span(1 of 3 inside no-gutters);
	&:nth-child(3n+2) {
		@include last; // TODO: needed? Check with real projects
	}

	// Featured top two projects, rather than three
	&:nth-child(1) {
		@include span(1 of 2 inside no-gutters);
	}
	&:nth-child(2) {
		@include span(1 of 2 last inside no-gutters);
	}

	// Hover changes
	&:hover {
		@include box-shadow(0, 0, 6px, rgba(0,0,0,0.8));
		z-index: 999;
		img {
			@include dim-image($bg-transparency);
			transform: translateY(-25px);
		}
		.movement {
			bottom: 15px;
		}
		ul, p {
			@extend .show;
		}
	}

	img {
		@include anim(all);
		@extend .fill-parent;
	}

	.details {
		@include container;
	}
	.movement, .details {
		@include anim(bottom)
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
	}

	h2 {
		@include span(6 of 12 no-gutters);
		text-shadow: 0 1px 7px rgba(150, 150, 150, 1);
		font-weight: 400;
	}
	p {
		@include anim(all);
		@extend .hide;
		background: $color_primary_dim;
		margin: 0;
		padding: 0;
		width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	h2, p {
		padding-left: 10px;
		color: $color-text-light;
		float: left;
	}

	ul {
		@include span(6 of 12 no-gutters last);
		@include anim(opacity);
		@extend .hide;
		float: right;
		padding-right: 10px;
		padding-top: 5px;

		li {
			color: $color-text-muted;
			list-style-type: none;
			display: inline-block;
			margin: 0 5px;
			float: inherit;
		}
	}
}