/* Styles targeting the project grid */
projects {
	@include container;
	background: #666;
	display: block;
}

project-card {
	display: block;
	position: relative;
	max-height: 500px;
	@include anim(all);

	// Default on largest screen is 3 column grid of projects
	@include span(1 of 3 inside no-gutters);
	&:last-child {
		@include last;
	} // TODO: Fix for only two projects in row (doesn't show right)

	// Featured top two projects, rather than three
	&:nth-child(1) {
		@include span(1 of 2 inside no-gutters);
	}
	&:nth-child(2) {
		@include span(1 of 2 last inside no-gutters);
	}
	&:hover {
		z-index: 999;
		-webkit-box-shadow: 0 0 6px 0px rgba(0,0,0,0.8);
		-moz-box-shadow: 0 0 6px 0px rgba(0,0,0,0.8);
		box-shadow: 0 0 6px 0px rgba(0,0,0,0.8);
		img {
			transform: translateY(-25px);
			-webkit-filter: brightness(.5);
	    	filter: brightness(.5);
		}
		.movement {
			bottom: 15px;
		}
		ul, p {
			opacity: 1.0;
		}
	}

	img {
		margin: 0;
		padding: 0;
		max-width: 100%;
		height: auto;
		display: block;
		@include anim(all);
	}

	.details {
		@include container;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
	}
	.movement {
		position: absolute;
		left: 0;
		width: 100%;
		bottom: 0;
		@include anim(bottom)
	}

	h2 {
		@include span(6 of 12 no-gutters);
		text-shadow: 0 1px 7px rgba(150, 150, 150, 1);
		font-weight: 400;
	}
	p {
		width: 100%;
		background: $color_primary_dim;
		margin: 0;
		padding: 0;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		opacity: 0;
		@include anim(all);
	}
	h2, p {
		padding-left: 10px;
		color: $color-text-light;
		float: left;
	}

	li {
		color: $color-text-muted;
		list-style-type: none;
		display: inline-block;
		margin: 0 5px;
		float: right;
	}
	ul {
		@include span(6 of 12 no-gutters last);
		float: right;
		padding-right: 10px;
		padding-top: 5px;
		opacity: 0;
		@include anim(opacity);
	}
}