{% if site.use_font_loader %}
<script type="text/javascript" nonce={{'font-loader.html' | base64_encode}}>
  // Do this only after we've displayed the initial text.
  document.body.onload = function() {
    var url = '{{ site.font_url }}{{ site.font_body }}|{{ site.font_head }}';
    loadStyles(url);
  }

  function loadStyles (url) {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', url, true);
    xhr.onreadystatechange = function () {
      if (xhr.readyState == 4 && xhr.status == 200) {
        var css = xhr.responseText;
        css = css.replace(/}/g, 'font-display: fallback; }');

        var head = document.getElementsByTagName('head')[0];
        var style = document.createElement('style');
        style.setAttribute('nonce', "{{'inline-font-styles' | base64_encode}}")
        style.appendChild(document.createTextNode(css));
        head.appendChild(style);
      }
    };
    xhr.send();
  }
</script>
{% endif %}