<footer>
  {% capture version %}{% project_version tag short %}{% endcapture %}
  {% assign short_version = version | split: "-" | first %}
  <p class="copy">&copy; {{ site.time | date: '%Y' }} {{ site.title }} | {{ version }}</p>
  <ul>
    <li>
      <a href="{{site.baseurl}}/about"><p>About</p></a>
    </li>

    <li>
      <a class="icon" href="https://github.com/{{site.github}}" aria-label="Link to Github">{% include icon-github.svg %}</a>
    </li>

    <li>
      <a href="mailto:{{ site.email }}"><p>Email</p></a>
    </li>
  </ul>
</footer>
