<div id="gr_grid_widget_1551681975">
  <div class="gr_grid_container">
    <div class="gr_grid_book_container"><a title="The Innovators: How a Group of  Hackers, Geniuses and Geeks Created the Digital Revolution" rel="nofollow" href="https://www.goodreads.com/book/show/21856367-the-innovators"><img alt="The Innovators: How a Group of  Hackers, Geniuses and Geeks Created the Digital Revolution" border="0" src="https://images.gr-assets.com/books/1410191571m/21856367.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Becoming" rel="nofollow" href="https://www.goodreads.com/book/show/38746485-becoming"><img alt="Becoming" border="0" src="https://images.gr-assets.com/books/1528206996m/38746485.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Cathedral of the Wild: An African Journey Home" rel="nofollow" href="https://www.goodreads.com/book/show/18050185-cathedral-of-the-wild"><img alt="Cathedral of the Wild: An African Journey Home" border="0" src="https://images.gr-assets.com/books/1377884038m/18050185.jpg" /></a></div>
    <noscript><br/>Share <a rel="nofollow" href="/">book reviews</a> and ratings with Dylan, and even join a <a rel="nofollow" href="/group">book club</a> on Goodreads.</noscript>
  </div>
</div>
<script async src="https://www.goodreads.com/review/grid_widget/92225651.Dylan's%20currently-reading%20book%20montage?cover_size=medium&hide_link=true&hide_title=true&num_books=20&order=a&shelf=currently-reading&sort=date_added&widget_id=1551681975" type="text/javascript" charset="utf-8"></script>
