<head>
  <!-- Compatibility -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <!-- TODO: dgattey enable? -->
  <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'"> -->
  <base href={{ site.url }}>

  <!-- PWA/Mobile -->
  <meta name="application-name" content="{{ site.title }}">
  <meta name="theme-color" content="#{{ site.app_theme_color }}">

  <!-- Static assets, fonts and CSS includes -->
  <link rel="dns-prefetch" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Hind:400|Heebo:700,900">
  <link rel="manifest" href="/manifest.json">
  {% asset main.css %}
  {% include favicons.html %}

  <!-- SEO -->
  {% seo %}
</head>
