<head>
  <!-- Compatibility -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <base href={{ site.url }}>

  <!-- Static assets, fonts and CSS includes -->
  {% for url in site.preconnect %}
  <link rel="preconnect" href="{{ url }}">
  {% endfor %}

  {% if site.use_font_loader == false %}
  <link rel="preload" href="{{ site.font_url }}" as="style">
  <link rel="stylesheet" href="{{ site.font_url }}">
  {% else %}
  {% capture fontscript %}
    {% include font-loader.js %}
  {% endcapture %}
  <script type="text/javascript" crossorigin="anonymous" async>{{ fontscript | strip }}</script>
  {% endif %}

  {% asset main.scss !integrity %}
  {% include favicons.html %}

  <!-- PWA/Mobile -->
  <link rel="manifest" href="/manifest.json">
  <meta name="application-name" content="{{ site.title }}">
  <meta name="theme-color" content="#{{ site.app_theme_color }}">

  <!-- SEO -->
  {% seo %}
</head>
