<head>
  <!-- Compatibility -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <base href={{ site.url }}>

  <!-- Static assets, fonts and CSS includes -->
  {% for url in site.preconnect %}
  <link rel="preconnect" href="{{ url }}">
  {% endfor %}

  {% asset main.scss !integrity %}
  {% include favicons.html %}

  <!-- PWA/Mobile -->
  <link rel="manifest" href="/manifest.json">
  <meta name="application-name" content="{{ site.title }}">
  <meta name="theme-color" content="#{{ site.app_theme_color }}">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">

  <!-- For licensing of fonts -->
  <link rel="preload" href="https://hello.myfonts.net/count/390371" as="style">
  <link rel="stylesheet" href="https://hello.myfonts.net/count/390371">

  <!-- SEO -->
  {% seo %}
</head>
