<section class="intro">
	{% include picture.html src="dg-portrait" alt="Portrait of Dylan Gattey" class="portrait" %}
	<h1 class="intro-desktop emphasized title head-font-style">Hello! I'm Dylan.</h1>
	<div class="intro-mobile">
		<h1 class="emphasized title head-font-style">Hello!</h1>
		<h2 class="subtitle">I'm Dylan.</h2>
	</div>
	<p class="emphasized detail">I'm a full-stack software engineer + technical lead working for LinkedIn in San Francisco, passionate about well-designed interfaces and clean code.</p>
</section>