<section class="intro grid grid-columns-standard grid-rows-2 grid-column-gap-4 margin-bottom-6">
	<h1 class="margin-bottom-0 title text-center-phone-only color-primary font-weight-black grid-span-col-full grid-span-col-8-tablet grid-item-align-bottom">Hello! I'm Dylan.</h1>
	<p class="font-size-4 detail grid-span-col-full grid-span-col-8-tablet">I'm a full-stack software engineer + technical lead working for LinkedIn in San Francisco, passionate about well-designed interfaces and clean code.</p>
	{% include picture.html src="dg-portrait" filetype="png" alt="Portrait of Dylan Gattey" container_class="portrait fill-parent" class="fill-parent fit-within-parent" %}
</section>