<section class="intro grid grid-columns-standard grid-rows-2 grid-column-gap-4">
  <h1 class="margin-bottom-0 title grid-span-col-full grid-span-col-8-tablet align-item-bottom">I develop, design, teach, and learn.</h1>
	<p class="font-size-6 detail grid-span-col-full grid-span-col-8-tablet">I'm Dylan, a full-stack software engineer + technical lead at LinkedIn, passionate about well-designed interfaces, clean code, and social impact.</p>
	{% include picture.html src="dg-portrait" filetype="png" alt="Portrait of Dylan Gattey" container_class="portrait fill-parent grid-span-col-full grid-span-col-start-8-tablet" class="fill-parent fit-within-parent" %}
</section>