<header id="global-nav" role="banner" class="fixed-header depth-4 transition-quick background-default translucent-header">
  <nav class="margin-horizontal-auto max-width-max width-full">
    <ul class="flex margin-0 padding-vertical-5 padding-horizontal-5 padding-horizontal-6-desktop">
      <li class="list-block font-weight-bold font-size-2 margin-vertical-0 margin-right-auto"><a class="logo link-no-decoration scale-down-on-hover transition-default" href="{{ site.baseurl }}/" aria-label="Go to Homepage">dg.</a></li>
      {% assign sorted_pages = site.pages | sort:"weight" %}
      {% for nav_page in sorted_pages %}
      
      {% if page.url == nav_page.url %}
      {% assign nav_class = 'link-no-decoration color-link-reset' %}
      {% else %}
      {% assign nav_class = 'link-underline-on-hover' %}
      {% endif %}

      {% assign nav_title = nav_page.nav_title | default nav_page.title %}

      {% if nav_title and nav_page.weight %}
      <li class="list-block font-size-2 margin-left-4 margin-left-6-tablet align-item-center">
        <a class="{{ nav_class }}" href="{{ nav_page.url }}">{{ nav_title }}</a>
      </li>
      {% endif %}

      {% endfor %}
    </ul>
  </nav>
</header>