<header class="global-nav fixed-header font-weight-bold transition-box-shadow">
  <nav>
    <ul class="nav-items flush">
      <li class="logo-wrapper font-size-1 flush-bottom"><a class="logo link-undecorated scale-down-on-hover transition-shape" href="{{ site.baseurl }}/" aria-label="Homepage">dg.</a></li>
      {% assign sorted_pages = site.pages | sort:"weight" %}
      {% for nav_page in sorted_pages %}

      {% assign nav_class = 'nav-inactive' %}
      {% if page.url == nav_page.url %}
      {% assign nav_class = 'nav-active' %}
      {% endif %}

      {% assign nav_title = nav_page.nav_title | default nav_page.title %}

      {% if nav_title and nav_page.weight %}
      <li class="nav-item font-size-1 flush transition-bounce">
        <a class="link-undecorated nav-link {{ nav_class }}" href="{{ nav_page.url }}">{{ nav_title }}</a>
      </li>
      {% endif %}

      {% endfor %}
    </ul>
  </nav>
</header>