{% comment %}
/**
 * This template is very configurable and very confusing! It allows for
 * responsive images with a simple include. The minimum required content
 * is `src`, or the basename of the file you want to include, and `alt`,
 * the alt text for the images.
 *
 * if you provide a `sizes` array, you can specify which of `lg`, `md`,
 * and `sm` image you want, with breakpoints supported for each. Phones will
 * show the `src-sm` image, tablets will show `src-md`, and desktop will
 * show `src`. The fallback will always be desktop sized. `lg` is on by
 * default.
 *
 * All images will have a webp & jpg version for each item. Autogenerate
 * with the image processing script.
 */
{% endcomment %}
{% assign sizes = include.sizes | default: 'sm' %}
<picture class={{include.class}}>
	{% if sizes contains 'lg' %}
	<!-- Desktop images -->
	{% assign bp = site.breakpoint_min_desktop %}
	{% assign file = include.src | append: '-lg' %}
	{% include picture-element.html type="webp" src=file alt=include.alt bp=bp %}
	{% include picture-element.html type="jpg" src=file alt=include.alt bp=bp %}
	{% endif %}

	{% if sizes contains 'md' %}
	<!-- Tablet images -->
	{% assign bp = site.breakpoint_min_tablet %}
	{% assign file = include.src | append: '-md' %}
	{% include picture-element.html type="webp" src=file alt=include.alt bp=bp %}
	{% include picture-element.html type="jpg" src=file alt=include.alt bp=bp %}
	{% endif %}

	{% if sizes contains 'sm' %}
	{% if include.sizes contains 'sm' %}
	<!-- Phone images -->
	{% endif %}
	{% unless include.sizes contains 'sm' %}
	<!-- Fallback fullsize images -->
	{% endunless %}
	{% assign file = include.src %}
	{% include picture-element.html type="webp" src=file alt=include.alt %}
	{% include picture-element.html type="jpg" src=file alt=include.alt %}
	{% endif %}

	<!-- Fallback: desktop-sized jpg -->
	<img type="image/jpeg" src={% asset {{include.src}}.jpg @path %} alt="{{ include.alt }}">
</picture>