{% comment %}
/**
 * This template helps in creating the overall responsive picture template.
 * Pass in the (optional) `bp` for min width media query, the (required)
 * `type`, the (required) `src` for the base filename, and the alt text
 * (required) and we'll take care of the rest
 */
{% endcomment %}
{% if include.type == "jpg" %}
	{% assign mimetype = "jpeg" %}
{% else %}
	{% assign mimetype = include.type %}
{% endif %}
<source
	{% if include.bp %}
	media="(min-width: {{ include.bp }})"
	{% endif %}
	srcset="{% asset {{include.src}}.{{include.type}} @path %} 1x, {% asset {{include.src}}@2x.{{include.type}} @path %} 2x"
	type="image/{{mimetype}}"
	alt="{{ include.alt }}">