{% if post.link %}
{% assign postlink = post.link %}
{% else %}
{% assign postlink = post.url %}
{% endif %}
<a href="{{ postlink }}" class="project-card round-corners shadow-strong shadow-weak-on-hover transition-bounce scale-down-on-hover background-{{ post.color }}">
    {% capture thumbnail_section %}
    <section class="transition-bounce card-component-on-hover-scale-up overhang-parent top bottom {{ post.thumbnail.container_class }}">
        {% capture alttext %}{{ post.title }} thumbnail{% endcapture %}
        {% include picture.html src=post.thumbnail.src alt=alttext filetype=post.thumbnail.filetype class=post.thumbnail.class %}
    </section>
    {% endcapture %}

    {% capture data_section %}
    <section>
        <h3>{{ post.title }}</h3>
        <h6 class="type transition-bounce card-component-on-hover-pull-right">{{ post.type }}</h6>
        <p class="transition-bounce card-component-on-hover-pull-right">{{ post.description }}</p>
    </section>
    {% endcapture %}

    <div class="card grid grid-two-column">
        {% if post.two_column == "mirrored" %}
        {{ data_section }}{{ thumbnail_section }}
        {% else %}
        {{ thumbnail_section }}{{ data_section }}
        {% endif %}
    </div>
</a>