{% if post.link %}
{% assign postlink = post.link %}
{% else %}
{% assign postlink = post.url %}
{% endif %}
<a href="{{ postlink }}" class="project-card round-corners shadow-strong shadow-weak-on-hover transition-bounce scale-down-on-hover background-{{ post.color }}">
    <section class="project-card-header card transition-bounce scale-down-on-hovered">
        <h3>{{ post.title }}</h3>
        <h6 class="type">{{ post.type }}</h6>
    </section>
    <section class="card transition-bounce pull-right-on-hovered">
        <p>{{ post.description }}</p>
    </section>
    {% if post.thumbnail %}
    <section class="transition-bounce scale-up-on-hovered {{ post.thumbnail.container-class }}">
        {% capture alttext %}{{ post.title }} thumbnail{% endcapture %}
        {% include picture.html src=post.thumbnail.src alt=alttext filetype=post.thumbnail.filetype class=post.thumbnail.class %}
    </section>
    {% endif %}
</a>