{% if post.link %}
{% assign postlink = post.link %}
{% else %}
{% assign postlink = post.url %}
{% endif %}
<a href="{{ postlink }}" class="project-card round-corners shadow-strong shadow-weak-on-hover transition-bounce scale-down-on-hover background-{{ post.color }}">
    {% capture thumbnail_section %}
    <section class="transition-bounce card-component-on-hover-scale-up {{ post.thumbnail.container_class }}">
        {% capture alttext %}{{ post.title }} thumbnail{% endcapture %}
        {% include picture.html src=post.thumbnail.src alt=alttext filetype=post.thumbnail.filetype class=post.thumbnail.class %}
    </section>
    {% endcapture %}

    {% capture title_content %}
    <h3>{{ post.title }}</h3>
    <h6 class="type transition-bounce card-component-on-hover-pull-right">{{ post.type }}</h6>
    {% endcapture %}

    {% capture desc_content %}
    <p class="transition-bounce card-component-on-hover-pull-right">{{ post.description }}</p>
    {% endcapture %}

    {% capture data_section %}
    <section>
        {{ title_content }}
        {{ desc_content }}
    </section>
    {% endcapture %}

    {% if post.two_column == "description-only" %}
    <section class="card">{{ title_content }}</section>
    {% endif %}
    <div class="card grid grid-two-column">
        {% if post.two_column == "mirrored" %}
        {{ data_section }}{{ thumbnail_section }}
        {% elsif post.two_column == "description-only" %}
        <section>{{ desc_content }}</section>{{ thumbnail_section }}
        {% else %}
        {{ thumbnail_section }}{{ data_section }}
        {% endif %}
    </div>
</a>