<ul class="padding-0 margin-bottom-5 margin-bottom-6-tablet">
  <li class="padding-2 list-block">
    <a class="link-no-decoration font-size-1 fill-primary fill-secondary transition-quick margin-0" href="mailto:{{ site.email | encode_email }}" aria-label="Email me">{% include icon-email.svg class="height-6 width-6" %}</a>
  </li>
  <li class="padding-2 list-block">
    <a class="link-no-decoration font-size-1 fill-darkest fill-secondary transition-quick margin-0" href="https://github.com/{{site.github}}" aria-label="Link to Github">{% include icon-github.svg class="height-6 width-6" %}</a>
  </li>
  <li class="padding-2 list-block">
    <a class="link-no-decoration font-size-1 fill-pink5 fill-secondary transition-quick margin-0" href="https://www.instagram.com/{{site.instagram}}" aria-label="Link to Instagram">{% include icon-instagram.svg class="height-6 width-6" %}</a>
  </li>
  <li class="padding-2 list-block">
    <a class="link-no-decoration font-size-1 fill-blue5 fill-secondary transition-quick margin-0" href="https://www.linkedin.com/in/{{site.linkedin}}" aria-label="Dylan's LinkedIn">{% include icon-linkedin.svg class="height-6 width-6" %}</a>
  </li>
  <li class="padding-2 list-block">
    <a class="link-no-decoration font-size-1 fill-lime5 fill-secondary transition-quick margin-0" href="https://open.spotify.com/user/{{site.spotify}}?si=yXvHMsSLR9au8bTjdjJsUA" aria-label="Dylan's Spotify">{% include icon-spotify.svg class="height-6 width-6" %}</a>
  </li>
</ul>