<footer>
  <p class="copy">Copyright &copy; 2010-{{ site.time | date: '%Y' }}</p>
  <ul>
    <li>
      <a href="{{site.baseurl}}/about">
        About
      </a>
    </li>

    <li>
      <a class="icon" href="https://github.com/{{site.github}}">
        {% include icon-github.svg %}
      </a>
    </li>

    <li>
      <a class="icon" href="https://twitter.com/{{site.twitter}}">
        {% include icon-twitter.svg %}
      </a>
    </li>

    <li>
      <a href="mailto:{{ site.email }}">
        Email
      </a>
    </li>
  </ul>
</footer>
