<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
  	{% if page.title %}
  		{{ page.title | escape }} | {{ site.title }}
  	{% else %}
  		{{ site.title | escape }}
  	{% endif %}
  </title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <!-- TODO: Verify ownership for Google Search Console -->
  <meta name="google-site-verification" content="j807R0YPXqS5L68mTk3QgVwq-0HZoCDmJqd_5_B1YoQ">

  <!-- Fonts and CSS includes -->
  <link href="https://fonts.googleapis.com/css?family=Hind:400,600|Playfair+Display:400,700" rel="stylesheet">
  <link href="{{ "/css/main.css" | prepend: site.baseurl }}" rel="stylesheet">

  <!-- TODO: Favicons -->
  <!-- For IE 10 and below -->
  <!-- No link, just place a file called favicon.ico in the root directory -->

  <!-- For IE 11, Chrome, Firefox, Safari, Opera -->
  <link href="/path/to/favicon-16.png" rel="icon" sizes="16x16" type="image/png">
  <link href="/path/to/favicon-32.png" rel="icon" sizes="32x32" type="image/png">
  <link href="/path/to/favicon-48.png" rel="icon" sizes="48x48" type="image/png">
  <link href="/path/to/favicon-62.png" rel="icon" sizes="62x62" type="image/png">
  <link href="/path/to/favicon-192.png" rel="icon" sizes="192x192" type="image/png">
  <!-- More info: https://bitsofco.de/all-about-favicons-and-touch-icons/ -->

  <!-- TODO: Facebook -->
  <meta property="fb:app_id" content="123456789">
  <meta property="og:url" content="https://example.com/page.html">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Content Title">
  <meta property="og:image" content="https://example.com/image.jpg">
  <meta property="og:description" content="Description Here">
  <meta property="og:site_name" content="Site Name">
  <meta property="og:locale" content="en_US">
  <meta property="article:author" content="">
  <!-- Facebook: https://developers.facebook.com/docs/sharing/webmasters#markup -->
  <!-- Open Graph: http://ogp.me/ -->

  <!-- TODO: Apple pinned site -->
  <link href="/path/to/icon.svg" rel="mask-icon" color="red">

  <link href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" rel="canonical">
</head>
