<head>
  <!-- Compatibility -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- PWA/Mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#{{ site.app_theme_color }}">

  <!-- Static assets, fonts and CSS includes -->
  <link rel="dns-prefetch" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Hind:400|Heebo:700">
  <link rel="manifest" href="/manifest.json">
  {% asset main.css %}
  {% include favicons.html %}

  <!-- SEO -->
  {% seo %}
</head>
