{
  "branches": [
    "main"
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "releaseRules": [
          {
            "message": "*breaking*",
            "release": "major"
          },
          {
            "tag": "feat",
            "release": "minor"
          },
          {
            "message": "*feat*",
            "release": "minor"
          },
          {
            "message": "**",
            "release": "patch"
          }
        ],
        "parserOpts": {
          "noteKeywords": [
            "BREAKING CHANGE",
            "BREAKING CHANGES"
          ]
        }
      }
    ],
    "@semantic-release/release-notes-generator",
    "@semantic-release/github"
  ]
}
