---
layout: default
title: Code
weight: 1
---

{% include intro.html %}
<div class="home">

  <h1 class="page-heading">Projects</h1>

  {% for post in site.posts %}
  <div class="proj-card">
    <img src="/img/{{post.thumb)}}">

    <!-- Text overlay on the images -->
    <div class="proj-data">

      <!-- The section that moves up -->
      <div class="proj-data-visible">
        <h2 class="proj-title">{{post.title}}</h2>
        <ul class="proj-terms">
          {% for term in site.terms %}
          <li>#{{term}}</li>
          {% endfor %}
        </ul>
      </div>

      <!-- Excerpt description at bottom -->
      <p class="proj-desc">{{post.desc}}</p>
    </div>
  </div>
  {% endfor %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
