# Redirects dgattey.netlify.com to dylangattey.com
[[redirects]]
	from = "https://dgattey.netlify.com/*"
	to = "https://dylangattey.com/:splat"
	status = 301
	force = true

# Hide offline page from user access if hitting it directly
[[redirects]]
	from = "https://dylangattey.com/offline/"
	to = "/404.html"
	status = 404
	force = false

# Redirects main project link to index
[[redirects]]
	from = "https://dylangattey.com/projects/"
	to = "https://dylangattey.com/"
	status = 301
	force = true

# Redirects all projects to 404 page for now
[[redirects]]
	from = "https://dylangattey.com/projects/fppdx/"
	to = "/404.html"
	status = 404
	force = false
[[redirects]]
	from = "https://dylangattey.com/projects/connected-car-citizen/"
	to = "/404.html"
	status = 404
	force = false
[[redirects]]
	from = "https://dylangattey.com/projects/synergy-womens-health-care/"
	to = "/404.html"
	status = 404
	force = false

# This ensures that content security doesn't block requests to dylangattey.com on deploy previews
[context.production]
	environment = { ADDITIONAL_CSP_SITES = "https://dylangattey.com" }
[context.deploy-preview]
	environment = { ADDITIONAL_CSP_SITES = "https://dylangattey.com dgattey.netlify.com" }
[build]
	command = 'sed -i s+ADDITIONAL_CSP_PLACEHOLDER+${ADDITIONAL_CSP_SITES}+g netlify.toml && npm i -g purgecss && jekyll build --verbose --trace --profile'

[[headers]]
	for = "/*"
	[headers.values]

	# Security headers
	X-Frame-Options = "DENY"
	X-XSS-Protection = "1; mode=block"
	X-Content-Type-Options = "nosniff"
	Referrer-Policy = "no-referrer"

	# Feature policies
	Feature-Policy = "unsized-media 'none'; sync-xhr 'none'; unoptimized-images 'none'"

	# Expect-CT to report uri
	Expect-CT = "max-age=0, report-uri=\"https://dgattey.report-uri.com/r/d/ct/reportOnly\""

	# Content security & reporting policies
	Report-To = '{"group":"default","max_age":31536000,"endpoints":[{"url":"https://dgattey.report-uri.com/a/d/g"}],"include_subdomains":true}'
	NEL = '{"report_to":"default","max_age":31536000,"include_subdomains":true}'
	Access-Control-Allow-Origin = "https://dylangattey.com"
	Content-Security-Policy = "base-uri dylangattey.com; upgrade-insecure-requests; block-all-mixed-content; report-uri https://dgattey.report-uri.com/r/d/csp/wizard; default-src 'self' ADDITIONAL_CSP_PLACEHOLDER https://d33wubrfki0l68.cloudfront.net/ https://*.typekit.net/ https://*.google-analytics.com/ dgattey.report-uri.com; img-src 'self' ADDITIONAL_CSP_PLACEHOLDER https://d33wubrfki0l68.cloudfront.net/ https://*.google-analytics.com/ https://www.google.com/ads/ https://stats.g.doubleclick.net/; script-src 'self' ADDITIONAL_CSP_PLACEHOLDER https://d33wubrfki0l68.cloudfront.net/ https://*.google-analytics.com/ 'sha256-AP5dd2QsbU3QOEJPw+ytEwxizO0kXXheCb4T/H9jz4I=' 'sha256-E0EZj2xhUMF2eiGjBZ7EEtOpOdVx9Ia2ykjanm799ww='; style-src 'self' ADDITIONAL_CSP_PLACEHOLDER https://d33wubrfki0l68.cloudfront.net/ https://*.typekit.net/; font-src 'self' ADDITIONAL_CSP_PLACEHOLDER https://d33wubrfki0l68.cloudfront.net/ https://*.typekit.net/; manifest-src 'self' ADDITIONAL_CSP_PLACEHOLDER https://d33wubrfki0l68.cloudfront.net/; object-src 'none'"
