---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

	<header class="post-header post-fg-{{ page.foreground }} post-{{ page.tags[0] }}" style="background-color: {{ page.background }};">
		<img src="{{page.header-img | prepend:'/img/header/' | prepend:site.baseurl }}" class="post-image">
		<h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
		<h5 class="post-desc">{{ page.desc }}</h5>
		<p class="post-desc">
			{% for tag in page.tags %}
			<a href="/tag/{{ tag }}">#{{ tag }}</a>
			{% endfor %}
		</p>
	</header>

	<div class="post-content" itemprop="articleBody">
		{{ content }}
	</div>

</article>
