// =====
// Animation & transition support as mixins and includes
// =====

// Adds support for expanding properties and animation types out to the full string
@function transition($speed, $properties) {
  $final: ();

  @for $i from 1 through length($properties) - 1 {
    $item: nth($properties, $i);
    $final: append($final, (#{$item} #{$speed}unquote(',')));
  }
  $last-item: nth($properties, length($properties));
  $final: append($final, (#{$last-item} #{$speed}));

  @return $final;
}

// =====
// Provides data through css var
// =====

:root {
  --animate-default: #{transition(334ms cubic-bezier(.175, .885, .32, 1.275), (color, box-shadow, transform, font-weight))};
  --animate-quick: #{transition(167ms 'ease-in-out', (box-shadow, fill, transform))};
}

.transition-default {
  transition: var(--animate-default);
}

.transition-quick {
  transition: var(--animate-quick);
}

.scale-down-on-hover {
  &:hover {
    transform: scale(.96);
  }
}
