// =====
// Raw colors
// =====

// Some of this isn't expressable via pure CSS so
// there's going to be some SASS variables here

$colors: (
  darkest: #000,
  lightest: #f8f9f9,
  lightest-translucent: rgba(#f8f9f9, .78),
  gray0: #ebeceb,
  gray1: #d5d8d6,
  gray2: #bbc0bd,
  gray3: #9da49f,
  gray4: #768078,
  gray5: #334237,
  gray6: #2d3a31,
  gray7: #27322a,
  gray8: #1f2821,
  gray9: #141a16,
  teal0: #e4f5f0,
  teal1: #c7ebdf,
  teal2: #a6dfcd,
  teal3: #80d1b8,
  teal4: #52c19e,
  teal5: #16ac7d,
  teal6: #139b70,
  teal7: #118862,
  teal8: #0e7051,
  teal9: #0a503a,
  cyan0: #e5f2f5,
  cyan1: #c8e4eb,
  cyan2: #a7d5df,
  cyan3: #82c3d2,
  cyan4: #54adc2,
  cyan5: #1690ac,
  cyan6: #13819b,
  cyan7: #117187,
  cyan8: #0e5d70,
  cyan9: #0a424f,
  blue0: #e8edf6,
  blue1: #cfd9ee,
  blue2: #b2c1e3,
  blue3: #8fa6d7,
  blue4: #6282c7,
  blue5: #1645ac,
  blue6: #133d9a,
  blue7: #113585,
  blue8: #0d2b6c,
  blue9: #091d4a,
  indigo0: #edeaf7,
  indigo1: #d8d3ef,
  indigo2: #c1b9e6,
  indigo3: #a599da,
  indigo4: #7f6ecb,
  indigo5: #3116ac,
  indigo6: #2b139a,
  indigo7: #261185,
  indigo8: #1e0d6c,
  indigo9: #140949,
  violet0: #f3e9f7,
  violet1: #e6d2ef,
  violet2: #d6b6e5,
  violet3: #c495d9,
  violet4: #ab69c9,
  violet5: #7d16ac,
  violet6: #70139a,
  violet7: #611186,
  violet8: #500e6e,
  violet9: #37094c,
  fuschia0: #f7e9f4,
  fuschia1: #efd2e9,
  fuschia2: #e5b6dc,
  fuschia3: #d995cc,
  fuschia4: #c969b7,
  fuschia5: #ac1690,
  fuschia6: #9b1381,
  fuschia7: #871171,
  fuschia8: #6f0e5d,
  fuschia9: #4e0a42,
  pink0: #f7eaee,
  pink1: #efd2db,
  pink2: #e5b7c5,
  pink3: #d996ab,
  pink4: #ca6a88,
  pink5: #ac1645,
  pink6: #9b133e,
  pink7: #871136,
  pink8: #6f0e2c,
  pink9: #4e0a1f,
  red0: #f6ebe8,
  red1: #eed5cf,
  red2: #e3bbb2,
  red3: #d79d8f,
  red4: #c77562,
  red5: #ac3216,
  red6: #9a2d13,
  red7: #872711,
  red8: #6e200e,
  red9: #4d1609,
  orange0: #f5efe3,
  orange1: #eadfc5,
  orange2: #decca4,
  orange3: #d1b77e,
  orange4: #c09d50,
  orange5: #ac7d16,
  orange6: #9b7013,
  orange7: #876211,
  orange8: #6f510e,
  orange9: #4f390a,
  yellow0: #f1f4e1,
  yellow1: #e1e9c2,
  yellow2: #d1dc9f,
  yellow3: #bece78,
  yellow4: #a9be4b,
  yellow5: #90ac16,
  yellow6: #829b13,
  yellow7: #728811,
  yellow8: #5e700e,
  yellow9: #43500a,
  lime0: #e9f5e3,
  lime1: #d1eac5,
  lime2: #b6dea4,
  lime3: #98d17e,
  lime4: #73c050,
  lime5: #45ac16,
  lime6: #3e9b13,
  lime7: #368811,
  lime8: #2d700e,
  lime9: #20500a,
  green0: #e5f5e8,
  green1: #c8ebcf,
  green2: #a8e0b2,
  green3: #82d291,
  green4: #54c268,
  green5: #16ac32,
  green6: #139b2d,
  green7: #118827,
  green8: #0e7020,
  green9: #0a5017
);

// Provides ability to reference colors by name, though due
// to sass limitation, use it like this in a CSS var: #{color(x)}
@function color($name) {
  @return map-get($colors, $name);
}

// =====
// Theming classes - associates raw colors with variables
// =====

.theme-light {
  --c-primary: #{color(teal5)};
  --c-secondary: #{color(teal7)};
  --c-tertiary: #{color(teal8)};
  --c-background: #{color(lightest)};
  --c-glass: #{color(lightest-translucent)};
  --c-text: #{color(gray5)};
  --c-text-muted: #{color(gray3)};
  --c-text-inverse: #{color(gray0)};
  --c-text-inverse-muted: #{color(gray1)};
  --c-title: #{color(teal7)};
}

// =====
// Background colors & fills
// =====

@each $name, $color in $colors {
  .background-#{$name} {
    background-color: $color;
  }

  .fill-#{$name} {
    fill: $color;
  }
}

.background-default {
  background-color: var(--c-background);
}

@mixin background-translucent {
  background-color: var(--c-glass);
}

.background-primary {
  background-color: var(--c-primary);
}

.background-secondary {
  &:hover {
    background-color: var(--c-secondary);
  }
}

// =====
// Color classes
// =====

.fill-primary {
  fill: var(--c-primary);
}

.fill-secondary {
  &:hover {
    fill: var(--c-secondary);
  }
}

.color-primary {
  color: var(--c-primary);
}

.color-link-inverse {
  color: var(--c-text-inverse);

  &:hover,
  &:focus {
    color: var(--c-text-inverse-muted);
  }
}

.color-link-reset {
  color: var(--c-text);

  &:hover,
  &:focus {
    color: var(--c-text);
  }
}

// =====
// Main elements
// =====

html {
  background-color: var(--c-background);
  color: var(--c-text);
}

h1 {
  color: var(--c-title);
}

a {
  color: var(--c-primary);

  &:hover {
    color: var(--c-secondary);
  }

  &:focus {
    color: var(--c-tertiary);
  }
}

::selection {
  background: var(--c-secondary);
  color: var(--c-text-inverse);
}

.highlight {
  background-color: var(--c-background-secondary);
}
