// TODO: @dgattey import only the weights I need
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

@font-face {
  font-family: 'roboto-mono';
  font-weight: $font-weight-medium;
  src: local('Roboto Mono'), local('RobotoMono-Regular'),
    asset_url('rm-500.woff2') format('woff2'),
    asset_url('rm-500.woff') format('woff');
  font-display: fallback;
}

@font-face {
  font-family: 'source-serif-pro';
  font-weight: $font-weight-bold;
  src: asset_url('subset-SourceSerifPro-Black.woff2') format('woff2'),
    asset_url('subset-SourceSerifPro-Black.woff') format('woff');
  font-display: fallback;
}
