// =====
// Defines standard font styles & sizes across the full site.
// =====

html {
  // sass-lint:disable no-vendor-prefixes
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  // sass-lint:enable no-vendor-prefixes
  font-feature-settings: 'kern' 1;
  font-kerning: normal;
  text-size-adjust: 100%;
  letter-spacing: -0.01em;
}

// =====
// Weights
// =====

%font-weight-regular {
  font-weight: $font-weight-regular;
}

%font-weight-medium {
  font-weight: $font-weight-medium;
}

%font-weight-bold {
  font-weight: $font-weight-bold;
}

// Add the correct font weight in Chrome, Edge, and Safari.
b,
strong {
  @extend %font-weight-bold;
}

// =====
// Family styles
// =====

:root {
  font-family: $font-family-copy;
  font-weight: $font-weight-regular;
  font-size: rem($font-size-base);
  line-height: $font-line-height-base;
}

%font-family-code {
  font-family: $font-family-code;
  font-weight: $font-weight-medium;
}

%font-family-header {
  font-family: $font-family-header;

  @extend %font-weight-bold;
}

// =====
// Header styling
// =====

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %font-family-header;
}

// =====
// Code
// =====

code {
  overflow: auto;

  // 1. Correct the inheritance and scaling of font size in all browsers.
  // 2. Correct the odd `em` font sizing in all browsers.
  pre,
  & {
    @extend %font-family-code;
  }
}
