// =====
// Grid-related content
// =====

$grid-columns-standard: 12;
$grid-columns-double-standard: 2 * ($grid-columns-standard - 1);

.grid {
  display: grid;
}

.grid-columns-standard {
  grid-template-columns: repeat($grid-columns-standard, 1fr);
}

.grid-columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-columns-2-tablet {
  @include for-tablet-up {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid-columns-2-1-desktop {
  @include for-desktop-up {
    grid-template-columns: 2fr 1fr;
  }
}

.grid-rows-2 {
  grid-template-rows: repeat(2, auto);
}

.grid-span-col-full {
  grid-column: 1 / -1;
}

.grid-span-col-8-tablet {
  @include for-tablet-up {
    grid-column: 1 / 8;
  }
}

.grid-span-col-9-tablet {
  @include for-tablet-up {
    grid-column: 1 / 9;
  }
}

.grid-span-col-offset {
  grid-column-start: 2;
}

.grid-span-col-start-8-tablet {
  @include for-tablet-up {
    grid-column-start: 8;
  }
}

.grid-span-col-start-9-tablet {
  @include for-tablet-up {
    grid-column-start: 9;
  }
}

.grid-span-cols-2 {
  grid-column-end: span 2;
}

.grid-span-rows-2-tablet {
  @include for-tablet-up {
    grid-row-end: span 2;
  }
}

// Grid gaps

@each $form, $suffix in $form-factors {
  @include breakpoint($form) {
    @each $name, $value in $spacing {
      .grid-gap-#{$name}#{$suffix} {
        grid-gap: $value;
      }

      .grid-column-gap-#{$name}#{$suffix} {
        grid-column-gap: $value;
      }
    }
  }
}
