// =====
// All styling related to lists
// =====

%link-underline-hidden {
  background-size: 0 0;
  text-decoration: none;
}

// This is complicated, here's what it's doing:
// - Adds a linear gradient (line) at the bottom of the item
// - Displays as a block to show it, no text decoration
// - Changes the color, increases underline height, and
//   moves the whole link itself up a bit on hover

p a {
  @extend .font-weight-semibold;

  display: inline;

  &:hover {
    @extend .font-weight-black;
  }
}

a {
  @extend .transition-default;

  display: inline-block;
  text-decoration: underline;

  &:hover {
    text-decoration: underline;
    transform: translateY(-.3rem);
  }
}

// Only shows the underline on hover

.link-underline-on-hover {
  @extend %link-underline-hidden;
}

// Never shows the underline

.link-no-decoration {
  @extend %link-underline-hidden;

  &:hover {
    @extend %link-underline-hidden;
  }
}
