<img *ngIf="!model.hasMedia()" src="https://source.unsplash.com/WLUHO9A_xik/1200x800">
<img *ngIf="model.hasMedia()" src="{{model.getMedia(0, 'large')}}">

<!-- Text overlay on the images -->
<div class="proj-data">

	<!-- The section that moves up -->
	<div class="proj-data-visible">
		<h2 class="proj-title">{{model.title}}</h2>
		<ul class="proj-terms" *ngIf="model.terms">
			<li *ngFor="#term of model.terms">#{{term.slug}}</li>
		</ul>
	</div>

	<!-- Excerpt description at bottom -->
	<p class="proj-desc">{{model.excerpt | escapeP}}</p>
</div>