---
layout: page
---
<div class="grid grid-spacing-3 grid-columns-standard">
    <h3 itemprop="name headline" class="grid-span-row-1 grid-span-col-full font-size-5 font-weight-black">&lt;error&gt;</h3>
    <div itemprop="text" class="grid-span-row-1 grid-span-col-full grid-span-col-offset">
        {{ content }}
        <p class="font-size-2 font-family-code">? page {{ page.verb }}</p>
    </div>
    <h3 class="grid-span-row-1 grid-span-col-full align-item-right font-size-5 font-weight-black">&lt;/error&gt;</h3>

</div>
