// Import our config, susy, normalize
@import 'config';
@import '../../node_modules/node-normalize-scss/normalize';
@import '../../node_modules/susy/sass/susy';
@import 'mixins';

// For Susy, border box sizing
@include border-box-sizing;

html, body {
	background: $color-bg;
}
p, h1, h2, h3, h4, h5, h6 {
	font-family: 'Whitney HTF'; // TODO: fix to be real!
	color: $color-text-dark;
}
h1 {
	font-weight: $app--fweight-h1;
	font-size: $app--fsize-h1;
}
p {
	font-size: $app--fsize-p;
	line-height: $app--flineh-p;
}

// Import components
@import 'nav.component';
@import 'intro.component';
@import 'projects.component';
@import 'project-card.component';