---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import our config, susy, normalize
@import 'config';
// TODO: import susy and normalize module
// @import '../../node_modules/node-normalize-scss/normalize';
// @import '../../node_modules/susy/sass/susy';
@import 'mixins';

// For Susy, border box sizing
// TODO: @include border-box-sizing;

html, body {
	background: $color-bg;
}
p, h1, h2, h3, h4, h5, h6 {
	font-family: 'Whitney HTF'; // TODO: fix to be real!
	color: $color-text-dark;
}
h1 {
	font-weight: $app--fweight-h1;
	font-size: $app--fsize-h1;
}
p {
	font-size: $app--fsize-p;
	line-height: $app--flineh-p;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
		// TODO: get rid of these imports
        'base',
        'layout',
        'syntax-highlighting',

        // Components
        'intro',
        'nav',
        'project-card',
        'projects'
;
