// =====
// Alignment-related content for grid and flex
// =====

.align-items-center {
  align-items: center;
}

.align-item-center {
  align-self: center;
}

.align-item-left {
  justify-self: start;
}

.align-item-right {
  justify-self: end;
}

.align-item-right-tablet {
  @include for-tablet-up {
    justify-self: end;
  }
}

.align-item-bottom {
  align-self: end;
}
