/*
 * Animation & transition support as mixins and includes
 */

// Constants for animations and transitions
$quick-animation-duration: 167ms;
$animation-duration: 334ms;
$ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$ease-in-out-back: cubic-bezier(0.68, -0.55, 0.265, 1.55);

// Adds support for adding multiple types of transitions
@mixin transition($properties...) {
	$final: ();
	@each $item in $properties {
		$final: append($final, ($item $animation-duration $ease-in-out-back unquote(",")));
	}
	transition: $final;
}

// Adds support for adding multiple types of transitions
@mixin transition-linear($properties...) {
	$final: ();
	@each $item in $properties {
		$final: append($final, ($item $quick-animation-duration linear unquote(",")));
	}
	transition: $final;
}

// Adds support for adding multiple types of transitions, with out-back timing function
@mixin transition-bounce($properties...) {
	$final: ();
	@each $item in $properties {
		$final: append($final, ($item $animation-duration $ease-out-back unquote(",")));
	}
	transition: $final;
}

.transition-shape {
	@include transition(transform, color);
}

.transition-bounce {
	@include transition-bounce(transform, box-shadow);
}

.scale-down-on-hover {
	$hover-scale: 0.96;
	&:hover {
		transform: scale($hover-scale);
	}
}

.scale-up-on-hover {
	$hover-scale: 1.05;
	&:hover {
		transform: scale($hover-scale);
	}
}

%show {
	opacity: 1.0;
}

%hide {
	@include transition(opacity);
	opacity: 0;
}