// =====
// Animation & transition support as mixins and includes
// =====

// Constants for animations and transitions
$quick-animation-duration: 167ms;
$animation-duration: 334ms;
$ease-out-back: cubic-bezier(.175, .885, .32, 1.275);
$ease-in-out-back: cubic-bezier(.68, -.55, .265, 1.55);
$scale-down-hover: .96;
$scale-up-hover: 1.06;

// Adds support for adding multiple types of transitions
@mixin transition($properties...) {
  $final: ();
  @each $item in $properties {
    $final: append($final, ($item $animation-duration $ease-in-out-back unquote(',')));
  }
  transition: $final;
}

// Adds support for adding multiple types of transitions
@mixin transition-linear($properties...) {
  $final: ();
  @each $item in $properties {
    $final: append($final, ($item $quick-animation-duration linear unquote(',')));
  }
  transition: $final;
}

// Adds support for adding multiple types of transitions, with out-back timing function
@mixin transition-bounce($properties...) {
  $final: ();
  @each $item in $properties {
    $final: append($final, ($item $animation-duration $ease-out-back unquote(',')));
  }
  transition: $final;
}

.transition-shape {
  @include transition(transform, color);
}

.transition-bounce {
  @include transition-bounce(transform, box-shadow);
}

.transition-linear-shadow {
  @include transition-linear(box-shadow);
}

.scale-down-on-hover {
  &:hover {
    transform: scale($scale-down-hover);
  }
}

.scale-up-on-hover {
  &:hover {
    transform: scale($scale-up-hover);
  }
}

%show {
  opacity: 1;
}

%hide {
  @include transition(opacity);
  opacity: 0;
}
