// =====
// Animation & transition support as mixins and includes
// =====

// Constants for animations and transitions
$quick-animation-duration: 167ms;
$animation-duration: 334ms;
$ease-out-back: cubic-bezier(.175, .885, .32, 1.275);
$scale-down-hover: .96;

// Adds support for adding multiple types of transitions
@mixin transition-quick($properties...) {
  $final: ();
  @each $item in $properties {
    $final: append($final, ($item $quick-animation-duration ease-in-out unquote(',')));
  }
  transition: $final;
}

// Adds support for adding multiple types of transitions, with out-back timing function
@mixin transition-shadow-transform($properties...) {
  $final: ();
  @each $item in $properties {
    $final: append($final, ($item $animation-duration $ease-out-back unquote(',')));
  }
  transition: $final;
}

.transition-shadow-transform {
  @include transition-shadow-transform(box-shadow, transform);
}

.transition-color-transform {
  @include transition-shadow-transform(color, transform);
}

.transition-quick-shadow {
  @include transition-quick(box-shadow);
}

.transition-quick-background-color-transform {
  @include transition-quick(background, color, transform);
}

.scale-down-on-hover {
  &:hover {
    transform: scale($scale-down-hover);
  }
}
