// =====
// Raw colors
// =====

// Some of this isn't expressable via pure CSS so
// there's going to be some SASS variables here

$colors: (
  dim: #000,
  deep: #433d3a,
  bright: #eceff1,
  brightest: #fff,
  aquagreen: #16ac7e,
  forest: #006331,
  wine: #bb2821,
  sky: #237fad
);

:root {
  @each $name, $color in $colors {
    --color-#{$name}: #{$color};
  }

  // These can't be expressable via the map above, so doing it here

  --color-muted: #{lighten(map-get($colors, deep), 12%)};
  --color-aquagreen-dark: #{darken(map-get($colors, aquagreen), 12%)};
  --color-aquagreen-light: #{lighten(map-get($colors, aquagreen), 12%)};
}

// =====
// Background colors
// =====

.background-default {
  background: var(--color-background);
}

.background-wine {
  background-color: var(--color-wine);
}

.background-sky {
  background-color: var(--color-sky);
}

.background-dim {
  background-color: var(--color-dim);
}

.background-forest {
  background-color: var(--color-forest);
}

// =====
// Color classes
// =====

.color-primary-bright {
  color: var(--color-primary-bright);
}

.color-link-inverse {
  color: var(--color-text-inverse);

  &:hover,
  &:focus {
    color: var(--color-text-inverse-muted);
  }
}

.color-link-reset {
  color: var(--color-text);

  &:hover,
  &:focus {
    color: var(--color-text);
  }
}

// =====
// Main elements
// =====

html {
  color: var(--color-text);
}

a {
  color: var(--color-primary-bright);

  &:hover {
    color: var(--color-secondary);
  }

  &:focus {
    color: var(--color-tertiary);
  }
}

::selection {
  background: var(--color-secondary);
  color: var(--color-text-inverse);
}

.highlight {
  background-color: var(--color-background-secondary);
}

// =====
// Theming classes - associates raw colors with variables
// =====

.theme-light {
  @extend .background-default;

  --color-primary-bright: var(--color-aquagreen);
  --color-secondary: var(--color-aquagreen-dark);
  --color-tertiary: var(--color-aquagreen-light);
  --color-background: var(--color-brightest);
  --color-background-secondary: var(--color-bright);
  --color-text: var(--color-deep);
  --color-text-muted: var(--color-muted);
  --color-text-inverse: var(--color-brightest);
  --color-text-inverse-muted: var(--color-bright);
}
