/**
 * Defines standard font styles & sizes across the full site.
 */

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    letter-spacing: 0.02em;
}

h1, h2, h3, h4, h5, h6, p {
    font-style: normal;
    letter-spacing: 0em;
    margin-bottom: 2.5rem;
}

/**
 * Header styling
 */

%head-font-style {
    font-family: $font-family-head;
    font-weight: $font-weight-head;
}

// Display weights
h1, h2, h3 {
    font-family: $font-family-head;
    font-weight: $font-weight-display;
}

// Regular header weight
h4, h5, h6 {
    @extend %head-font-style;
}

@mixin emphasized($font-size: null, $line-height: null) {
    @if $font-size != null {
        &.emphasized {
            @if $line-height != null {
                line-height: $line-height;
            }
            font-size: $font-size;
        }
    }
}

@mixin font-body($element, $line-height, $phone, $tablet, $standard, $emphasized: null, $emphasized-line-height: null) {

    #{$element} {
        @include for-phone-up {
            font-size: $phone;
            line-height: $line-height;
            @include emphasized($tablet, $line-height);
        }
        @include for-tablet-small-up {
            font-size: $tablet;
            line-height: $line-height;
            @include emphasized($standard, $line-height);
        }
        @include for-desktop-up {
            font-size: $standard;
            line-height: $line-height;
            @include emphasized($emphasized, $emphasized-line-height);
        }
    }
}
// TODO: @dgattey add arguments for line height to each item
// TODO: @dgattey autogenerate the different sizes based on standard? Only emphasized ones are p and h1 so that could work well
// TODO: @dgattey also generate the line heights based off rhythm of rest of the items

@include font-body(
    h1,
    $line-height: 10rem,
    $phone: 5.4931640625em,
    $tablet: 6.103515625em,
    $standard: 7.62939453125em,
    $emphasized: 9.5367431640625em);
@include font-body(
    h2,
    $line-height: 7.5rem,
    $phone: 4.39453125em,
    $tablet: 5.4931640625em,
    $standard: 6.103515625em);
@include font-body(
    h3,
    $line-height: 5rem,
    $phone: 2.8125em,
    $tablet: 3.515625em,
    $standard: 4.39453125em);
@include font-body(
    h4,
    $line-height: 5rem,
    $phone: 2.25em,
    $tablet: 2.8125em,
    $standard: 3.515625em);
@include font-body(
    h5,
    $line-height: 5rem,
    $phone: 2em,
    $tablet: 2.25em,
    $standard: 2.8125em);
@include font-body(
    h6,
    $line-height: 2.5rem,
    $phone: 2em,
    $tablet: 2em,
    $standard: 2.25em);

/**
 * Regular (non-header) text styling
 */

@include font-body(
    "%regular-text-size",
    $line-height: 2.5rem,
    $phone: 1.6em,
    $tablet: 1.6em,
    $standard: 1.8em,
    $emphasized: 2em,
    $emphasized-line-height: 3rem);

%regular-text {
    font-family: $font-family-body;
    font-weight: $font-weight-body;
    max-width: 36em;
}

p, input, button, select, textarea {
    @extend %regular-text;
    @extend %regular-text-size;
    &.emphasized {
        opacity: 0.8;
    }
}

/**
 * Links
 */

a {
    color: $color-primary-bright;
    text-decoration: none;
    &:hover {
        color: $color-primary-dim;
    }
}

/**
 * Code
 */

code {
    background-color: $color-bg-code;
    $vertical-padding: 0;
    $horizontal-padding: 0.3em;
    border: 1px solid $color-border-code;
    padding: $vertical-padding $horizontal-padding;
}