/**
 * Font-specific variables & mixins (defined here for ease of use below)
 */

$font-size-proportion: 1.1;
$line-height-proportion: 1.09;
$header-multiplier: 2.5;
$bottom-margin-divisor: 2;
$base-font-size: 1.6em;
$base-line-height: 2.5rem;

@function pow($number, $power) {
    $value: 1;
    @if $power > 0 {
        @for $i from 1 through $power {
            $value: $value * $number;
        }
    }
    @return $value;
}

@function calculate-level($level, $is-header) {
    @if $is-header {
        @return round($level * $header-multiplier);
    }
    @return $level;
}

/**
 * Generates font size and line height declarations for a particular element using
 * a standard rhythm and the configurable level dictating how many levels larger than
 * normal the font should be.
 *
 * @param $level how many sizes larger than mobile the font & line sizes should be
 */
@mixin text-body($level) {
    $font-size: $base-font-size * pow($font-size-proportion, $level);
    $line-height: $base-line-height * pow($line-height-proportion, $level);
    font-size: $font-size;
    line-height: $line-height;
    margin-bottom: $line-height / $bottom-margin-divisor;
    &.emphasized {
        $font-size: $base-font-size * pow($font-size-proportion, $level + 1);
        $line-height: $base-line-height * pow($line-height-proportion, $level + 1);
        font-size: $font-size;
        line-height: $line-height;
        margin-bottom: $line-height / $bottom-margin-divisor;
    }
}

/**
 * Generates font size and line height declarations for a particular element using
 * a standard rhythm and the configurable level dictating how many levels larger than
 * normal the font should be. If it's a header, the level will get increased a bit.
 * This mixin generates the above for all screen sizes.
 *
 * @param $element The element on which to operate
 * @param $level The level to generate
 * @param $is-header If it's a header element
 */
@mixin text($element, $level, $is-header: false) {
    $level: calculate-level($level, $is-header);
    #{$element} {
        @include for-phone-up {
            @include text-body($level);
        }
        @include for-tablet-up {
            @include text-body($level + 1);
        }
        @include for-desktop-up {
            @include text-body($level + 2);
        }
    }
}

/**
 * Defines standard font styles & sizes across the full site.
 */

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

h1, h2, h3, h4, h5, h6, p {
    font-style: normal;
    letter-spacing: 0.02px;
}

/**
 * Header styling
 */

%head-font-style {
    font-family: $font-family-head;
    font-weight: $font-weight-head;
}

%display-font-style {
    font-family: $font-family-head;
    font-weight: $font-weight-display;
}

h1, h2, h3 {
    @extend %display-font-style;
}

h4, h5, h6 {
    @extend %head-font-style;
}

// Text styling for the headers
@for $header-level from 1 through 6 {
    $level: -1 * ($header-level - 6);
    @include text(h#{$header-level}, $level, $is-header: true);
}

// LARGE h1
@include text(h1, 6, $is-header: true);

/**
 * Regular (non-header) text styling
 */

@include text("%regular-text-size", 0);

%regular-text {
    font-family: $font-family-body;
    font-weight: $font-weight-body;
    max-width: 36em;
}

p, input, button, select, textarea {
    @extend %regular-text;
    @extend %regular-text-size;
}

/**
 * Links
 */

a {
    color: $color-primary-bright;
    text-decoration: none;
    &:hover {
        color: $color-primary-dim;
    }
}

/**
 * Code
 */

code, pre {
    @extend %regular-text-size;
    overflow: auto;
    font-family: $font-family-code;
    @include for-phone-up {
        word-break: break-all;
    }
    @include for-tablet-up {
        word-break: break-word;
    }
}

code.highlighter-rouge, pre {
    font-size: 85%;
}

.highlight {
    padding: 0.4rem 0.8rem;
    max-width: 64em;
    border-radius: 1em;
    padding: 2em;
}