// =====
// Font level generation
// =====

// =====
// Constants
// =====
$font-size-proportion: 1.09;
$line-height-proportion: 1.08;

// =====
// Raises a number to a power
// =====
@function pow($number, $power) {
  $value: 1;

  @if $power > 0 {
    @for $i from 1 through $power {
      $value: $value * $number;
    }
  }

  @return $value;
}

// =====
// Generates font size and line height declarations when included in an element
// using a standard rhythm. The configurable level dictates how many levels
// larger than normal the font should be.
// =====
@mixin generate-font-level-content($level) {
  // Proportions used in calculation
  $font-size-modifier: pow($font-size-proportion, $level);
  $line-height-modifier: pow($line-height-proportion, $level);

  font-size: calc(var(--font-base) * #{$font-size-modifier});
  line-height: calc(var(--line-height-base) * #{$line-height-modifier});
}

// =====
// Sets the base size for the generate to work right
// =====
:root {
  $base-font-size: 1.26rem;
  $base-line-height: 1.58;

  @include for-phone-up {
    $size: $base-font-size;

    --font-base: #{$size};
    --line-height-base: #{$size * $base-line-height};
  }

  @include for-tablet-up {
    $size: $base-font-size * $font-size-proportion;

    --font-base: #{$size};
    --line-height-base: #{$size * $base-line-height};
  }

  @include for-desktop-up {
    $size: $base-font-size * $font-size-proportion * $font-size-proportion;

    --font-base: #{$size};
    --line-height-base: #{$size * $base-line-height};
  }
}

// =====
// Actually generates all the font levels for use elsewhere
// =====

@for $level from 0 through 20 {
  .font-size-#{$level} {
    @include generate-font-level-content($level);
  }
}
