// =====
// Global, base styles to ensure the rest is applied correctly
// =====

html {
  overflow-x: hidden;
}

// =====
// Padding
// =====

body {
  @extend %max-width-element;
}

@mixin page-body($page-padding, $top-padding) {
  .standard-inset-top {
    margin-top: $top-padding + spacing(4) * 2;
  }

  %nav-padding {
    padding: spacing(4) $page-padding;
  }
}

@include for-phone-up {
  @include page-body(spacing(5), spacing(6));
}

@include for-tablet-up {
  @include page-body(spacing(5), spacing(6) + spacing(5));
}

@include for-desktop-up {
  @include page-body(spacing(6), spacing(7));
}
