// =====
// Allllll the global constants anything can access
// =====

// Spacing
$item-spacing-1: .375em;
$item-spacing-2: .75em;
$item-spacing-3: 1.5em;
$item-spacing-4: 3em;
$item-spacing-5: 6em;
$item-spacing-6: 12em;
$item-spacing-7: 24em;
$icon-size: $item-spacing-3;
