/**
 * Allllll the global constants anything can access
 */
 
// Raw white - black color values
$color-dim: #000000;
$color-deep: #433D3A;
$color-muted: #ACACAC;
$color-bright: #eceff1; // OR #f1eafb;
$color-brightest: #FFFFFF;
$color-gray: darken($color-bright, 20%);
$color-light-transparent: rgba(255, 255, 255, 0.6);

// Colorful raw color values
$color-green: #1CD1A5;
$color-red: #ee5050;
$color-blue: #04a5e5;

// Fonts
$font-family-body: "Hind", sans-serif;
$font-family-head: "Heebo", sans-serif;
$font-weight-body: 400;
$font-weight-head: 700;
$font-weight-display: 900;
$font-size-base: 10px;

// Applied color values (primary, bg, border, text)
$color-primary-bright: $color-green;
$color-primary-dim: darken($color-primary-bright, 12%);
$color-bg: $color-brightest;
$color-bg-code: $color-bright;
$color-border-code: $color-muted;
$color-text-dark: $color-deep;
$color-text-light: $color-bright;
$color-text-muted: $color-muted;
$color-text-active: $color-primary-dim;

// Grids + breakpoints
$grid-standard-columns: 12;
$breakpoint-min-phone: 0px;
$breakpoint-min-tablet: 600px;
$breakpoint-min-desktop: 900px;
$breakpoint-max-width: 1200px;

// Spacing
$item-spacing-1: 0.375em;
$item-spacing-2: 0.75em;
$item-spacing-3: 1.5em;
$item-spacing-4: 3em;
$item-spacing-5: 6em;
$item-spacing-6: 12em;
$item-spacing-7: 24em;
$icon-size: $item-spacing-3;

// Z-indices
$depth-4: 999;
$depth-3: 300;
$depth-2: 200;
$depth-1: 100;
$depth-0: 0;