/*
 * Styles the introductory text & images on the homepage
 * - pages: index.html
 */

.intro {
	$end-before-photo: 7;
	display: grid;
	grid-template-columns: repeat($grid-standard-columns, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: $item-spacing-3;
	margin-bottom: $item-spacing-6 + $item-spacing-1;
	color: $color-deep;
	.head-text {
		@extend %gradient-words;
		align-self: end;
		grid-column: 2 / -1;
		grid-row: 1 / 2;
		@include for-phone-only {
		}
		@include for-tablet-portrait-up {
			grid-column: 2 / 7;
		}
		@include for-tablet-landscape-up {
			grid-column: 2 / 10;
		}
		@include for-desktop-up {
			grid-column: 2 / -1;
		}
	}
	.detail {
		grid-column-start: 2;
		grid-column-end: $end-before-photo;
		grid-row: 2 / -1;
	}
	picture, img {
		object-fit: cover;
		width: 100%;
		height: 100%;
		grid-column-start: $end-before-photo;
		grid-column-end: -1;
		grid-row: 1 / -1;
		@include for-phone-only {
			grid-row: 3 / -1;
		}
		@include for-tablet-portrait-up {
			grid-row: 2 / -1;
		}
		@include for-tablet-landscape-up {
			grid-row: 1 / -1;
		}
		@include for-desktop-up {
			grid-row: 1 / -1;
		}
	}
}