/*
 * Styles the introductory text & images on the homepage
 * - pages: index.html
 */

.intro {
	$end-before-photo: 7;
	display: grid;
	grid-template-columns: repeat($grid-standard-columns, 1fr);
	grid-column-gap: $item-spacing-3;
	color: $color-deep;

	@include for-phone-up {
		margin-bottom: $item-spacing-5 + $item-spacing-4;
		grid-template-rows: repeat(4, auto);
	}

	@include for-tablet-up {
		margin-bottom: $item-spacing-6;
	}

	@include for-desktop-up {
		margin-bottom: $item-spacing-6 + $item-spacing-1;
		grid-template-rows: repeat(2, 1fr);
	}

	.mobile {
		grid-column: 1 / -1;
		grid-row: 1 / 2;

		@include for-phone-only {
			font-size: 9vw;
			grid-column: 1 / -1;

			& * {
				line-height: 18vw;
			}
		}

		@include for-tablet-up {
			font-size: 2vw;
			grid-column: 1 / #{$end-before-photo};

			& * {
				line-height: 8vw;
			}
		}

		@include for-desktop-up {
			display: none;
		}
	}

	.desktop {
		display: none;

		@include for-desktop-up {
			display: initial;
		}
	}

	.title,
	.subtitle {
		color: $color-primary-bright;
		margin-bottom: 0;

		@include for-phone-up {
			text-align: center;
			grid-column: 1 / -1;
		}

		@include for-tablet-up {
			text-align: left;
			align-self: end;
			grid-column: 2 / #{$end-before-photo};
		}

		@include for-desktop-up {
			grid-column: 2 / -1;
		}
	}

	.title {
		grid-row: 1 / 2;
	}

	.subtitle {
		margin-top: 0;

		@include for-phone-up {
			grid-row: 2 / 3;
		}

		@include for-desktop-up {
			display: none;
		}
	}

	.detail {
		color: $color-text-muted;

		@include for-phone-up {
			grid-column: 1 / -1;
			grid-row: 3 / 4;
		}

		@include for-tablet-up {
			grid-column: 1 / #{$end-before-photo};
		}

		@include for-desktop-up {
			grid-row: 2 / -1;
			grid-column: 2 / #{$end-before-photo};
		}
	}

	.portrait, .portrait img {
		object-fit: cover;
		width: 100%;
		height: 100%;

		@include for-phone-up {
			grid-column: 1 / -1;
			grid-row: 4 / -1;
		}

		@include for-tablet-up {
			grid-column: #{$end-before-photo} / -1;
			grid-row: 1 / -1;
		}
	}
}