// =====
// All styling related to lists
// =====


%link-underline-normal {
  $underline-height: 0.1em;

  background-size: $underline-height $underline-height;
}

%link-underline-hovered {
  $underline-height-hovered: 0.2em;

  background-size: $underline-height-hovered $underline-height-hovered;
  transform: translateY(- $underline-height-hovered / 2);
}

%link-underline-hidden {
  background-size: 0 0;
}

// This is complicated, here's what it's doing:
// - Adds a linear gradient (line) at the bottom of the item
// - Displays as a block to show it, no text decoration
// - Changes the color, increases underline height, and
//   moves the whole link itself up a bit on hover
a {
  @extend .transition-quick-background-color-transform;
  @extend %link-underline-normal;
  background-image: linear-gradient(to bottom, currentColor 0%, currentColor 100%);
  background-position-y: 100%;
  background-repeat: repeat-x;
  color: $color-link;
  display: inline-block;
  text-decoration: none;

  &:hover {
    @extend %link-underline-hovered;
    color: $color-link-hover;
  }

  &:focus {
    @extend %link-underline-hovered;
    color: $color-link-focus;
  }
}

// Only shows the underline on hover
.link-underline-on-hover {
  @extend %link-underline-hidden;
}

// Never shows the underline
.link-no-decoration {
  @extend %link-underline-hidden;

  &:hover,
  &:focus {
    @extend %link-underline-hidden;
  }
}

// Will still have translation on hover effect + underline,
// but the link color will always be $color-text-dark
.link-text-dark {
  color: $color-text-dark;

  &:hover {
    color: $color-text-dark;
  }
}