/*
 * Mixins and extensions to be used globally
 */
$spread: $item-spacing-4 + $item-spacing-3;
$strong-shadow: 0 $item-spacing-3 $spread rgba(0,0,0,.15);
$weak-shadow: 0 $item-spacing-3 $spread rgba(0,0,0,.1);

.shadow-strong {
	box-shadow: $strong-shadow;
}

.shadow-weak, .shadow-strong:hover {
	box-shadow: $weak-shadow;
}

.round-corners {
	border-radius: $item-spacing-1;
}

// Helps with media queries to reduce typing
@mixin for-phone-up {
	@content;
}

@mixin for-phone-only {
	@media (max-width: $breakpoint-min-tablet - 1) {
		@content;
	}
}

@mixin for-tablet-up {
	@media (min-width: $breakpoint-min-tablet) {
		@content;
	}
}

@mixin for-desktop-up {
	@media (min-width: $breakpoint-min-desktop) {
		@content;
	}
}

@mixin for-max-size-only {
	@media (min-width: $breakpoint-max-width) {
		@content;
	}
}
