// =====
// Mixins and extensions to be used globally
// =====

$strong-shadow-color: rgba(0, 0, 0, .15);
$weak-shadow-color: rgba(0, 0, 0, .1);
$spread: $item-spacing-4 + $item-spacing-3;

// =====
// Utility classes
// =====

.round-corners {
  border-radius: $item-spacing-1;
}

.desktop-align-right {
  @include for-desktop-up {
    justify-self: end;
    text-align: right;
  }
}

.fill-parent {
  height: 100%;
  width: 100%;
}

.cover-parent {
  object-fit: cover;
}

.text-center-phone-only {
  @include for-phone-only {
    text-align: center;
  }
}
