/*
 * Mixins and extensions to be used globally
 */

// Primary color gradient on whatever text this is applied to
%gradient-words {
	background-image: linear-gradient(to bottom, $color-primary-bright, $color-primary-dim);
	background-clip: text;
	-webkit-background-clip: text;
	color: rgba(0, 0, 0,0);
}

// Helps with media queries to reduce typing
@mixin for-phone-up {
  @content;
}
@mixin for-tablet-up {
  @media (min-width: $breakpoint-min-tablet) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: $breakpoint-min-desktop) { @content; }
}
@mixin for-max-size-only {
  @media (min-width: $breakpoint-max-width) { @content; }
}
