/*!
 * Padding mixins to be used globally
**/

%max-width-element {
  margin: 0 auto;
  max-width: $breakpoint-max-width;
  width: 100%;
}

@mixin template-body($page-padding, $top-padding) {
  $nav-padding: $item-spacing-3;

  %standard-inset {
    margin-left: $page-padding;
    margin-right: $page-padding;
    margin-top: $top-padding + $nav-padding * 2;
  }

  %nav-padding {
    padding-bottom: $nav-padding;
    padding-left: $page-padding;
    padding-right: $page-padding;
    padding-top: $nav-padding;
  }
}

// For different breakpoints
$tablet-top-padding: $item-spacing-4 + $item-spacing-3;
@include for-phone-up {
  @include template-body($item-spacing-4, $item-spacing-5);
}

@include for-tablet-up {
  @include template-body($item-spacing-4, $item-spacing-5 + $item-spacing-4);
}

@include for-desktop-up {
  @include template-body($item-spacing-5, $item-spacing-6);
}
