/*
 * Padding mixins to be used globally (wrapped in a tag to keep values local)
 */
 
html {
	@mixin template-body($page-padding, $top-padding) {
		$nav-padding: $item-spacing-3;
		%standard-inset {
			margin-top: $top-padding + $nav-padding * 2;
			margin-left: $page-padding;
			margin-right: $page-padding;
		}
		%nav-padding {
			padding-left: $page-padding;
			padding-right: $page-padding;
			padding-top: $nav-padding;
			padding-bottom: $nav-padding;
		}
	}

	// For different breakpoints
	$tablet-top-padding: $item-spacing-4 + $item-spacing-3;
	@include for-phone-only {
		@include template-body($item-spacing-2, $item-spacing-5);
	}
	@include for-tablet-portrait-up {
		@include template-body($item-spacing-3, $tablet-top-padding);
	}
	@include for-tablet-landscape-up {
		@include template-body($item-spacing-4, $tablet-top-padding);
	}
	@include for-desktop-up {
		@include template-body($item-spacing-5, $item-spacing-5);
	}
}
