/*
 * Styles the project card component on the the main index page as nested under project-grid
 * - pages: index.html
 */

.proj-card {
	$hover-scale: 0.98;

	color: $color-text-light;
	padding: $item-spacing-4;
	grid-row-end: span 2;

	&:nth-child(2) {
		grid-row-start: 1;
	}

	.type {
		text-transform: uppercase;
		font-variant: small-caps;
		letter-spacing: 2.5px;
	}

	.desc {
		margin-top: 1.2em;
	}

	// Hover state
	@include transition(transform);
	&:hover {
		color: $color-text-light;
		transform: scale($hover-scale);
	}

	// Post specific styling
	&.groups {
		background: $color-red;
	}

	&.connected {
		color: $color-text-dark;
		background: $color-bright;
	}

	&.swhc {
		background: $color-blue;
	}

	&.fppdx {
		background: $color-green;
	}
}