/*!
 * Styles the project card component on the the main index page as nested under project-grid
 * - pages: index.html
**/

.proj-card {
  color: $color-brightest;
  padding: $item-spacing-4;

  @include for-tablet-up {
    // Pulls showcase to the right
    grid-row-end: span 2;
    &:nth-child(2) {
      grid-row-start: 1;
    }
  }

  .type {
    font-variant: small-caps;
    margin-top: .75em;
    text-transform: uppercase;
  }

  .title {
    margin-top: .5em;
  }

  .desc {
    margin-top: 5em;
  }

  // Hover state
  &::hover {
    color: $color-brightest;
  }

  // Post specific styling
  &.groups {
    background: $color-red;
  }

  &.connected {
    background: $color-muted;
  }

  &.swhc {
    background: $color-blue;
  }

  &.fppdx {
    background: $color-green;
  }
}
