// =====
// Styles the project card component on the the main index page as nested under project-grid
// - pages: index.html
// =====

.project-card {
  align-content: space-between;
  color: $color-brightest;
  display: grid;
  grid-gap: $item-spacing-3;

  @include for-tablet-up {
    grid-row-end: span 2;

    &:nth-child(2) {
      grid-row-start: 1; // Pulls showcase to the right
    }
  }

  &:hover {
    color: $color-brightest;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .type {
    font-variant: small-caps;
    text-transform: uppercase;

    @include for-tablet-down {
      margin-top: 0;
    }
  }

}

.card-component-on-hover-scale-up {
  .project-card:hover & {
    transform: scale($scale-up-hover);
  }
}

.card-component-on-hover-pull-right {
  .project-card:hover & {
    transform: translateX($item-spacing-3);
  }
}
