/*
 * Styles the projects section of the main index page
 * - pages: index.html
 */

.proj-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: $item-spacing-5;

	.showcase {
		margin-bottom: $item-spacing-2;
	}
}