// =====
// Shadows
// =====

$strong-shadow-color: rgba(0, 0, 0, .15);
$weak-shadow-color: rgba(0, 0, 0, .1);
$spread: spacing(5) + spacing(4);
$strong-shadow: 0 spacing(4) $spread $strong-shadow-color;
$weak-shadow: 0 spacing(4) $spread $weak-shadow-color;

.shadow-strong {
  box-shadow: $strong-shadow;
}

.shadow-weak {
  box-shadow: $weak-shadow;
}

.shadow-weak-on-hover {
  &:hover {
    box-shadow: $weak-shadow;
  }
}
