// =====
// Spacing mixins to be used globally
// =====

// Some of this isn't expressable via pure CSS so
// there's going to be some SASS variables here

$spacing: (
  0: 0,
  1: .0975rem,
  2: .375rem,
  3: .75rem,
  4: 1.5rem,
  5: 3rem,
  6: 6rem,
  7: 12rem,
  8: 24rem
);

// Provides ability to reference spacing by name, though due
// to sass limitation, use it like this in a CSS var: #{spacing(x)}
@function spacing($name) {
  @return map-get($spacing, $name);
}

// Alignment

.vertical-align-middle {
  vertical-align: middle;
}

// Height and width

.max-width-max {
  max-width: $breakpoint-max-width;
}

.width-full {
  width: 100%;
}

@each $name, $value in $spacing {
  .height-#{$name} {
    height: $value;
  }

  .width-#{$name} {
    width: $value;
  }
}

// Margin classes

.margin-horizontal-auto {
  margin-left: auto;
  margin-right: auto;
}

@each $form, $suffix in $form-factors {
  @include breakpoint($form) {
    @each $name, $value in $spacing {
      .margin-#{$name}#{$suffix} {
        margin: $value;
      }

      .margin-vertical-#{$name}#{$suffix} {
        margin-top: $value;
        margin-bottom: $value;
      }

      .margin-horizontal-#{$name}#{$suffix} {
        margin-left: $value;
        margin-right: $value;
      }

      .margin-top-#{$name}#{$suffix} {
        margin-top: $value;
      }

      .margin-left-#{$name}#{$suffix} {
        margin-left: $value;
      }

      .margin-bottom-#{$name}#{$suffix} {
        margin-bottom: $value;
      }

      .margin-right-#{$name}#{$suffix} {
        margin-right: $value;
      }

      // Padding classes

      .padding-#{$name}#{$suffix} {
        padding: $value;
      }

      .padding-vertical-#{$name}#{$suffix} {
        padding-top: $value;
        padding-bottom: $value;
      }

      .padding-horizontal-#{$name}#{$suffix} {
        padding-left: $value;
        padding-right: $value;
      }

      .padding-top-#{$name}#{$suffix} {
        padding-top: $value;
      }

      .padding-left-#{$name}#{$suffix} {
        padding-left: $value;
      }

      .padding-bottom-#{$name}#{$suffix} {
        padding-bottom: $value;
      }

      .padding-right-#{$name}#{$suffix} {
        padding-right: $value;
      }
    }
  }
}

// Special cases - these are negative

.margin-bottom-5-tablet-overhang {
  @include for-tablet-up {
    margin-bottom: -1 * spacing(5);
  }
}

.margin-top-5-tablet-overhang {
  @include for-tablet-up {
    margin-top: -1 * spacing(5);
  }
}
