// =====
// Spacing mixins to be used globally
// =====

// Some of this isn't expressable via pure CSS so
// there's going to be some SASS variables here

$spacing: (
  0: 0,
  1: .0975em,
  2: .375em,
  3: .75em,
  4: 1.5em,
  5: 3em,
  6: 6em,
  7: 12em,
  8: 24em
);

// Provides ability to reference spacing by name, though due
// to sass limitation, use it like this in a CSS var: #{spacing(x)}
@function spacing($name) {
  @return map-get($spacing, $name);
}

%max-width-element {
  margin: 0 auto;
  max-width: $breakpoint-max-width;
  width: 100%;
}

.vertical-align-middle {
  vertical-align: middle;
}

// Height and width

@each $name, $value in $spacing {
  .height-#{$name} {
    height: $value;
  }

  .width-#{$name} {
    width: $value;
  }
}

// Margin classes

@each $name, $value in $spacing {
  .margin-#{$name} {
    margin: $value;
  }

  .margin-vertical-#{$name} {
    margin: $value 0;
  }

  .margin-horizontal-#{$name} {
    margin: 0 $value;
  }

  .margin-top-#{$name} {
    margin-top: $value;
  }

  .margin-left-#{$name} {
    margin-left: $value;
  }

  .margin-bottom-#{$name} {
    margin-bottom: $value;
  }

  .margin-right-#{$name} {
    margin-right: $value;
  }
}

// Padding classes

@each $name, $value in $spacing {
  .padding-#{$name} {
    padding: $value;
  }

  .padding-vertical-#{$name} {
    padding: $value 0;
  }

  .padding-horizontal-#{$name} {
    padding: 0 $value;
  }

  .padding-top-#{$name} {
    padding-top: $value;
  }

  .padding-left-#{$name} {
    padding-left: $value;
  }

  .padding-bottom-#{$name} {
    padding-bottom: $value;
  }

  .padding-right-#{$name} {
    padding-right: $value;
  }
}

.flush-top-tablet-down {
  @include for-tablet-down {
    margin-top: 0;
  }
}

.overhang-parent-bottom-5-tablet {
  @include for-phone-up {
    margin-bottom: 0;
  }

  @include for-tablet-up {
    margin-bottom: -1 * spacing(5);
  }
}

.overhang-parent-top-5-tablet {
  @include for-phone-up {
    margin-top: 0;
  }

  @include for-tablet-up {
    margin-top: -1 * spacing(5);
  }
}
