// =====
// Styles the code blocks highlighted across the site
// =====

$color-000000: #000;
$color-0000dd: #00d;
$color-003366: #036;
$color-003388: #038;
$color-0044dd: #04d;
$color-0066bb: #06b;
$color-008800: #080;
$color-22bb22: #2b2;
$color-333333: #333;
$color-3333bb: #33b;
$color-336699: #369;
$color-555555: #555;
$color-666666: #666;
$color-888888: #888;
$color-a61717: #a61717;
$color-aa0000: #a00;
$color-aa6600: #a60;
$color-bb0066: #b06;
$color-bbbbbb: #bbb;
$color-cc0000: #c00;
$color-dd2200: #d20;
$color-dd7700: #d70;
$color-ddffdd: #dfd;
$color-e3d2d2: #e3d2d2;
$color-f0fff0: #f0fff0;
$color-ffdddd: #fdd;
$color-fff0f0: #fff0f0;

.highlight {
  background-color: $color-bright;
  border-radius: 1em;
  max-width: 64rem;
  padding: 1rem;
}

table {
  td {
    padding: 5px;
  }

  pre {
    margin: 0;
  }
}

.c,
.cd,
.cm,
.c1 {
  color: $color-888888;
}

.cp {
  color: $color-cc0000;
  font-weight: bold;
}

.cs {
  background-color: $color-fff0f0;
  color: $color-cc0000;
  font-weight: bold;
}

.err {
  background-color: $color-e3d2d2;
  color: $color-a61717;
}

.gr {
  color: $color-aa0000;
}

.gh {
  color: $color-333333;
}

.gu {
  color: $color-666666;
}

.gd {
  background-color: $color-ffdddd;
  color: $color-000000;
}

.gi {
  background-color: $color-ddffdd;
  color: $color-000000;
}

.ge {
  font-style: italic;
}

.gs {
  font-weight: bold;
}

.gl {
  color: $color-888888;
}

.go {
  color: $color-888888;
}

.gp {
  color: $color-555555;
}

.gt {
  color: $color-aa0000;
}

.k,
.kc,
.kd,
.kn,
.kr,
.kv {
  color: $color-008800;
  font-weight: bold;
}

.kp {
  color: $color-008800;
}

.kt {
  color: $color-888888;
  font-weight: bold;
}

.m,
.mf,
.mh,
.mi,
.il,
.mo,
.mb,
.mx {
  color: $color-0000dd;
  font-weight: bold;
}

.s,
.sb,
.sc,
.sd,
.s2,
.sh,
.s1 {
  background-color: $color-fff0f0;
  color: $color-dd2200;
}

.se {
  background-color: $color-fff0f0;
  color: $color-0044dd;
}

.si {
  background-color: $color-fff0f0;
  color: $color-3333bb;
}

.sx {
  background-color: $color-f0fff0;
  color: $color-22bb22;
}

.sr {
  color: $color-008800;
}

.ss {
  background-color: $color-fff0f0;
  color: $color-aa6600;
}

.na {
  color: $color-336699;
}

.nb,
.bp {
  color: $color-003388;
}

.nc {
  color: $color-bb0066;
  font-weight: bold;
}

.no {
  color: $color-003366;
  font-weight: bold;
}

.nd {
  color: $color-555555;
}

.ne {
  color: $color-bb0066;
  font-weight: bold;
}

.nf {
  color: $color-0066bb;
  font-weight: bold;
}

.nl {
  color: $color-336699;
}

.nn {
  color: $color-bb0066;
  font-weight: bold;
}

.py {
  color: $color-336699;
  font-weight: bold;
}

.nt {
  color: $color-bb0066;
  font-weight: bold;
}

.nv,
.vc {
  color: $color-336699;
}

.vg {
  color: $color-dd7700;
}

.vi {
  color: $color-3333bb;
}

.ow {
  color: $color-008800;
}

.w {
  color: $color-bbbbbb;
}
