// =====
// Styles the code blocks highlighted across the site
// =====

// Inline code bits

code.highlighter-rouge {
  @extend .background-teal0;
  @extend .corners-2;
  @extend .padding-horizontal-2;
  @extend .padding-vertical-1;
}

// Full width code blocks

div.highlighter-rouge {
  @extend .background-gray0;
  @extend .span-viewport;
}

// The syntax

.highlighter-rouge {

  $keyword: color(cyan7);
  $type: color(cyan9);
  $comment: color(blue4);
  $number: color(orange3);
  $string: color(pink4);
  $regex: color(teal4);
  $error: color(red8);
  $deleted: color(red3);
  $inserted: color(green4);
  $operator: color(gray5);
  $decorator: color(violet5);
  $output: color(gray3);
  $prompt: color(indigo9);
  $heading: color(gray8);
  $traceback: color(lime4);
  $name-attribute: color(indigo7);
  $builtin: color(teal7);
  $class: color(violet7);
  $constant: color(lime6);
  $entity: color(pink4);
  $function: color(fuschia5);
  $namespace: color(cyan7);
  $variable: color(gray6);
  $generic-name: color(green6);
  $whitespace: color(red1);
  $word: color(gray9);
  $symbol: color(yellow3);

  // Comment

  .c {
    color: $comment;
    font-style: italic;
  }

  // Error

  .err {
    color: $error;
  }

  // Keyword

  .k {
    color: $keyword;
    font-weight: bold;
  }

  // Operator

  .o {
    color: $operator;
  }

  // Comment.Hashbang

  .ch {
    color: $comment;
    font-style: italic;
  }

  // Comment.Multiline

  .cm {
    color: $comment;
    font-style: italic;
  }

  // Comment.PreprocFile

  .cpf {
    color: $comment;
    font-style: italic;
  }

  // Comment.Single

  .c1 {
    color: $comment;
    font-style: italic;
  }

  // Comment.Special

  .cs {
    color: $comment;
    font-weight: bold;
    font-style: italic;
  }

  // Generic.Deleted

  .gd {
    border: 1px solid $deleted;
  }

  // Generic.Emph

  .ge {
    font-style: italic;
  }

  // Generic.Error

  .gr {
    color: $error;
  }

  // Generic.Heading

  .gh {
    color: $heading;
    font-weight: bold;
  }

  // Generic.Inserted

  .gi {
    border: 1px solid $inserted;
  }

  // Generic.Output

  .go {
    color: $output;
  }

  // Generic.Prompt

  .gp {
    color: $prompt;
    font-weight: bold;
  }

  // Generic.Strong

  .gs {
    font-weight: bold;
  }

  // Generic.Subheading

  .gu {
    color: $heading;
    font-weight: bold;
  }

  // Generic.Traceback

  .gt {
    color: $traceback;
  }

  // Keyword.Constant

  .kc {
    color: $keyword;
    font-weight: bold;
  }

  // Keyword.Declaration

  .kd {
    color: $keyword;
    font-weight: bold;
  }

  // Keyword.Namespace

  .kn {
    color: $keyword;
    font-weight: bold;
  }

  // Keyword.Pseudo

  .kp {
    color: $keyword;
  }

  // Keyword.Reserved

  .kr {
    color: $keyword;
    font-weight: bold;
  }

  // Keyword.Type

  .kt {
    color: $type;
    font-weight: bold;
  }

  // Literal.Number

  .m {
    color: $number;
  }

  // Literal.String

  .s {
    color: $string;
  }

  // Name.Attribute

  .na {
    color: $name-attribute;
  }

  // Name.Builtin

  .nb {
    color: $builtin;
  }

  // Name.Class

  .nc {
    color: $class;
    font-weight: bold;
  }

  // Name.Constant

  .no {
    color: $constant;
  }

  // Name.Decorator

  .nd {
    color: $decorator;
  }

  // Name.Entity

  .ni {
    color: entity;
    font-weight: bold;
  }

  // Name.Exception

  .ne {
    color: $error;
    font-weight: bold;
  }

  // Name.Function

  .nf {
    color: $function;
  }

  // Name.Label

  .nl {
    color: $decorator;
  }

  // Name.Namespace

  .nn {
    color: $namespace;
    font-weight: bold;
  }

  // Name.Tag

  .nt {
    color: $name-attribute;
    font-weight: bold;
  }

  // Name.Variable

  .nv {
    color: $variable;
  }

  // Name.?

  .n,
  .nx {
    color: $generic-name;
  }

  // Operator.Word

  .ow {
    color: $word;
    font-weight: bold;
  }

  // Text.Whitespace

  .w {
    color: $whitespace;
  }

  // Literal.Number.Bin

  .mb {
    color: $number;
  }

  // Literal.Number.Float

  .mf {
    color: $number;
  }

  // Literal.Number.Hex

  .mh {
    color: $number;
  }

  // Literal.Number.Integer

  .mi {
    color: $number;
  }

  // Literal.Number.Oct

  .mo {
    color: $number;
  }

  // Literal.String.Affix

  .sa {
    color: $string;
  }

  // Literal.String.Backtick

  .sb {
    color: $string;
  }

  // Literal.String.Char

  .sc {
    color: $string;
  }

  // Literal.String.Delimiter

  .dl {
    color: $string;
  }

  // Literal.String.Doc

  .sd {
    color: $string;
    font-style: italic;
  }

  // Literal.String.Double

  .s2 {
    color: $string;
  }

  // Literal.String.Escape

  .se {
    color: $string;
    font-weight: bold;
  }

  // Literal.String.Heredoc

  .sh {
    color: $string;
  }

  // Literal.String.Interpol

  .si {
    color: $error;
  }

  // Literal.String.Other

  .sx {
    color: $string;
  }

  // Literal.String.Regex

  .sr {
    color: $regex;
  }

  // Literal.String.Single

  .s1 {
    color: $string;
  }

  // Literal.String.Symbol

  .ss {
    color: $symbol;
  }

  // Name.Builtin.Pseudo

  .bp {
    color: $builtin;
  }

  // Name.Function.Magic

  .fm {
    color: $function;
  }

  // Name.Variable.Class

  .vc {
    color: $variable;
  }

  // Name.Variable.Global

  .vg {
    color: $variable;
  }

  // Name.Variable.Instance

  .vi {
    color: $variable;
  }

  // Name.Variable.Magic

  .vm {
    color: $variable;
  }

  // Literal.Number.Integer.Long

  .il {
    color: $number;
  }
}
