// =====
// Imports all needed scss files from their various locations and defines config
// =====
@charset "UTF-8";

// Normalizes css
@import 'normalize/import-now';

// Configuration/shared objects
@import 'global-constants';
@import 'animations';
@import 'mixins';
@import 'fonts';
@import 'syntax';
@import 'padding';

// Templates appearing on multiple page
@import 'global';
@import 'nav';
@import 'footer';
@import 'post';
@import 'post-header';
@import 'post-content';

// Index page
@import 'intro';
@import 'project-grid';
@import 'project-card';