---
# Imports all needed scss files from their various locations and defines config
---
@charset "utf-8";
@import
	// Normalizes css
	'normalize/import-now',

	// Configuration/shared objects
	'global-constants',
	'animations',
	'mixins',
	'fonts',
	'syntax',
	'padding',

	// Templates appearing on multiple pages
	'global',
	'nav',
	'footer',
	'post',
	'post-header',
	'post-content',

	// index.html
	'intro',
	'project-grid',
	'project-card'
;