/*
 * Defines standard font styles & sizes across the full site.
 */

html {
    // Config for font files
    $line-height: 1.4;
    $font-size: 1.2em;
    $h1-size: 4.8em;
    $h2-size: 3.8em;
    $h3-size: 2.4em;
    $h4-size: 1.5em;
    $h5-size: 1.1em;
    $h-top: 30px;
    $h1-bottom: 10px;
    $h2-bottom: 6px;
    $h3-bottom: 5px;
    $p-top: $h3-bottom;
    $p-bottom: $h-top;
    $word: -0.1px;
    $letter: -0.2px;
    $h1-letter: $letter*8;
    $h2-letter: $letter*5;
    $h3-letter: $letter*3;
    $h4-letter: $letter*2;
    $h5-letter: $letter;

    // HTML specific styles
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    font-family: $fam-body;
    font-weight: $weight;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $letter;
    word-spacing: $word;

    // Shared header styles
    h1, h2, h3, h4, h5, h6 {
        font-family: $fam-head;
        font-weight: $bold-weight;
        margin-top: $h-top;
        line-height: $line-height;
    }

    // Headers
    h1 {
        font-size: $h1-size;
        margin-top: 0;
        margin-bottom: $h1-bottom;
        letter-spacing: $h1-letter;
    }
    h2 {
        font-size: $h2-size;
        margin-bottom: $h2-bottom;
        letter-spacing: $h2-letter;
    }
    h3 {
        font-size: $h3-size;
        margin-bottom: $h3-bottom;
        letter-spacing: $h3-letter;
    }
    h4 {
        font-size: $h4-size;
        letter-spacing: $h4-letter;
    }

    h5 {
        font-size: $h5-size;
        letter-spacing: $h5-letter;
    }

    // Body
    p {
        margin-top: $p-top;
        margin-bottom: $p-bottom;
    }

    // Links
    a {
        color: $color-primary-bright;
        text-decoration: none;

        &:hover {
            color: $color-primary-dim;
        }
    }

    code {
        background-color: $color-bg-code;
        font-size: 0.9em;
        $vertical-padding: 0;
        $horizontal-padding: 0.3em;
        border: 1px solid $color-border-code;
        padding: $vertical-padding $horizontal-padding;
    }
}