/*
 * Padding mixins to be used globally (wrapped in a tag to keep values local)
 */
 
html {
	@mixin template-body($page-padding) {
		$nav-padding: $item-spacing-2;
		%standard-inset {
			margin-top: $page-padding + $nav-padding * 2;
			margin-left: $page-padding;
			margin-right: $page-padding;
		}
		%nav-padding {
			padding-left: $page-padding;
			padding-right: $page-padding;
			padding-top: $nav-padding;
			padding-bottom: $nav-padding;
			width: calc(100% - #{2*$page-padding});
		}
	}

	// For different breakpoints
	@include for-phone-only {
		@include template-body($item-spacing-2);
	}
	@include for-tablet-portrait-up {
		@include template-body($item-spacing-3);
	}
	@include for-tablet-landscape-up {
		@include template-body($item-spacing-4);
	}
	@include for-desktop-up {
		@include template-body($item-spacing-5);
	}
}
