---
layout: page
nav_title: About
title: About Me
weight: 1
---
{% capture about_me %}{% include about_me.md %}{% endcapture %}
{% capture skills %}{% include skills.md %}{% endcapture %}
{% capture reading_list %}{% include reading-list.md %}{% endcapture %}
<div itemprop="text" class="grid grid-columns-2-1-tablet grid-gap-4">
  <section>
    {{ about_me | markdownify }}
  </section>
  <section class="grid-item-align-center">
    {% include picture.html src="me" alt="Photo of Dylan Gattey" class="corners-2 fill-parent-width cover-parent" %}
  </section>
  <section>
    {{ reading_list | markdownify }}
    {% include goodreads.html %}
  </section>
  <section>
    {{ skills | markdownify }}
  </section>
</div>
