---
layout: page
title: About Me
nav_title: <b>03</b> about
header: Hey there!
weight: 2
---
{% capture about_me %}{% include about_me.md %}{% endcapture %}
{% capture technologies %}{% include technologies.md %}{% endcapture %}
{% capture reading %}{% include reading.md %}{% endcapture %}
{% capture offline %}{% include offline.md %}{% endcapture %}
<div itemprop="text">
  <div class="grid grid-columns-standard grid-rows-2 grid-column-gap-4">
    <section class="centered-content grid-span-col-full grid-span-col-9-tablet align-item-center">
      {{ about_me | markdownify }}
    </section>
    {% include picture.html src="me-circular" filetype="png" alt="Portrait of Dylan Gattey" container_class="fill-parent grid-span-col-full grid-span-col-start-9-tablet margin-top-5-tablet-overhang" class="fill-parent fit-within-parent" %}
  </div>

  <div class="centered-content">
    <section class="margin-bottom-5 margin-bottom-6-tablet">
      {{ technologies | markdownify }}
    </section>
    <section class="margin-bottom-5 margin-bottom-6-tablet">
      {{ reading | markdownify }}
      {% include goodreads.html %}
    </section>
    <section class="margin-bottom-5 margin-bottom-6-tablet">
      {% include online.html %}
    </section>
    <section class="margin-bottom-5 margin-bottom-6-tablet">
      {{ offline | markdownify }}
    </section>
  </div>
  
</div>
