// Constants for animations and transitions
$animation-duration: 350ms;
$transition-duration: 200ms;

// Animation to pop in cards
$pop-in-orig-scale: 0.5;
$pop-in-scale: 1.05;
$pop-in-delay: 50ms;
@keyframes popin {
  0%	{ opacity: 0; transform: scale($pop-in-orig-scale); }
  45%	{ opacity: 1; }
  50%	{ transform: scale($pop-in-scale); }
  100%	{ transform: none; }
}
%animate-pop-in {
	transform: scale(0);
	animation: popin $animation-duration $pop-in-delay 1 forwards;
	animation-timing-function: ease-in-out;
}

// Animation to fade in anything
@keyframes fadein {
	0%	{ opacity: 0; }
	100% { opacity: 1; }
}
%animate-fade-in {
	animation: fadein $animation-duration forwards;
	animation-timing-function: ease-in-out;
}

// Transitions from state to state
@mixin transition($properties...) {
	transition: $properties $transition-duration ease-out;
}