// Constants for animations and transitions
$animation-duration: 350ms;
$transition-duration: 150ms;

// Animation to fade in anything
@keyframes fadein {
	0%	{ opacity: 0; }
	100% { opacity: 1; }
}
%animate-fade-in {
	animation: fadein $animation-duration forwards;
	animation-timing-function: ease-in-out;
}

// Transitions from state to state
@mixin transition($properties...) {
	transition: $properties $transition-duration ease-in-out;
}

%show {
	opacity: 1.0;
}

%hide {
	@include transition(opacity);
	opacity: 0;
}

%transition-all {
	@include transition(all);
}

// Gives pseudo box shadow on hover, animated
%shadow-on-hover {
	@extend %transition-all;
	&:hover {
		$shadow-blur: $item-spacing-2;
		$shadow-color: transparentize($color-dim, 0.6);
		@include box-shadow($shadow-color, $blur: $shadow-blur);
	}
}