// Constants for animations and transitions
$animation-duration: 350ms;
$transition-duration: 150ms;
$ease-out-back: cubic-bezier(0.175, 0.885, 0.320, 1.275);

// Adds support for adding multiple types of transitions
@mixin transition($properties...) {
	$transition-declaration: $transition-duration ease-in-out;
	$final: "";
	@each $item in $properties {
		$final: append(unquote($final), ($item $transition-duration ease-in-out unquote(",")));
	}
	transition: $final;
}

%show {
	opacity: 1.0;
}

%hide {
	@include transition(opacity);
	opacity: 0;
}