html {
    background: $color-bg;
    color: $color-text-dark;
    overflow-x: hidden;
    margin-top: $page-padding;
    margin-bottom: $page-padding;

    // Make sure margins align with spacing
    ul, ol {
        margin-left: $icon-size;
    }

    // Icons
    .icon {
        &:hover > svg path {
            fill: $color-primary-dim;
        }
        > svg {
            display: inline-block;
            width: $icon-size;
            height: $icon-size;
            vertical-align: middle;
            path {
                @include transition(fill);
                fill: $color-primary-bright;
            }
        }
    }

    // // TODO: come back to Blockquotes looking nice
    // blockquote {
    //     color: $color-text-muted;
    //     border-left: 4px solid $color-text-dark;
    //     padding-left: $icon-size / 2;
    //     font-size: 18px;
    //     letter-spacing: -1px;
    //     font-style: italic;

    //     > :last-child {
    //         margin-bottom: 0;
    //     }
    // }


    // // TODO: come back to Code formatting
    // pre,
    // code {
    //     font-size: 15px;
    //     border: 1px solid $color-text-dark;
    //     border-radius: 3px;
    //     background-color: $color-bg-code;
    // }

    // code {
    //     padding: 1px 5px;
    // }

    // pre {
    //     padding: 8px 12px;
    //     overflow-x: auto;

    //     > code {
    //         border: 0;
    //         padding-right: 0;
    //         padding-left: 0;
    //     }
    // }
}