// For Susy
@include border-box-sizing;

/**
 * Main html and body styling
 */
html, body {
    @extend %container;
    background: $color-bg;
    color: $color-text-dark;

    font-family: $base-font-family;
    -webkit-text-size-adjust: 100%;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    font-size: $base-font-size;
}

/**
 * Fonts/text
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $heading-font-weight;
    line-height: $base-line-height;
}

p {
    line-height: $base-line-height;
}

a {
    color: $color-primary-bright;
    text-decoration: none;

    &:hover {
        color: $color-primary-dim;
    }
}


/**
 * Spacing
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
    @extend %vertical-rhythm;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

ul, ol {
    margin-left: $spacing-unit;
}


/**
 * Blockquotes
 */
blockquote {
    color: $color-text-muted;
    border-left: 4px solid $color-text-dark;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}


/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $color-text-dark;
    border-radius: 3px;
    background-color: $color-bg-code;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}


/**
 * Icons
 */
.icon {

    &:hover > svg {
        path {
            fill: $color-primary-dim;
        }
    }

    > svg {
        display: inline-block;
        width: 32px;
        height: 32px;
        vertical-align: middle;

        path {
            @include anim(fill);
            fill: $color-primary-bright;
        }
    }
}
