// Raw color values
$color-dim: #000000;
$color-deep: #433D3A;
$color-muted: #ACACAC;
$color-bright: #F5F5F5;
$color-gray: darken($color-bright, 20%);

$color-primary-dim: #18B58F;
$color-primary-bright: #1CD1A5;

// Applied color values
$color-bg: $color-bright;
$color-bg-code: $color-gray;
$color-text-dark: $color-deep;
$color-text-light: $color-bright;
$color-text-muted: $color-muted;
$color-text-active: $color-primary-dim;

// Spacing
$col: 18;
$item-spacing-1: 0.375em;
$item-spacing-2: 0.75em;
$item-spacing-3: 1.5em;
$item-spacing-4: 3em;
$item-spacing-5: 6em;
$item-spacing-6: 12em;
$item-spacing-7: 24em;
$icon-size: $item-spacing-3;
$page-padding: $item-spacing-3;

// Breakpoints
$smallest-bp: 450px;
$small-bp: 600px;
$medium-bp: 800px;
$large-bp: 1000px;
$largest-bp: 1380px;

/* Changing Susy default global settings */
$susy: (
  columns: $col,
  gutters: 1,
  container: $largest-bp, // max-width
  global-box-sizing: border-box
);