/*
 * Colors for app
 */

// Raw color values
$color-dim: #000000;
$color-deep: #433D3A;
$color-muted: #ACACAC;
$color-bright: #F5F5F5;
$color-gray: darken($color-bright, 20%);

$color-primary-dim: #18B58F;
$color-primary-bright: #1CD1A5;

// Applied color values
$color-bg: $color-bright;
$color-bg-code: $color-gray;
$color-text-dark: $color-deep;
$color-text-light: $color-bright;
$color-text-muted: $color-muted;
$color-text-active: $color-primary-dim;

/* 
 * Measurements and values
 */

// General measurements
$col: 18;
$edge-padding: 3vw;

// TODO: refactor
$inset: 20px;

// Nav component measurements
$nav-height: 100px;

// Intro component measurements
$intro-inset: 2.5 * $inset;
$intro-content-width: 12;
$intro-offset-width: ($col - $intro-content-width)/2;
$intro-text-width: 13;

// Project card component measurements
$cards-per-row: 3;
$cards-per-row-small: 2;
$card-shadow-blur: 4px;
$card-shadow-color: transparentize($color-dim, 0.4);
$card-hover-scale: 0.98;
$card-tag-padding: 0.5em;
$card-text-margin: $card-tag-padding 0;

// Spacing and viewports
$spacing-unit:     30px;
$one-column:       750px;
$two-column:       1200px;

/*
 * Images used as background images
 */
$intro-img: "/img/haily.jpg";

/*
 * Third party config
 */

/* Changing Susy default global settings */
$susy: (
  columns: $col,
  gutters: 0,
  container: 2000px, // max-width
  global-box-sizing: border-box
);