// Raw color values
$color-dim: #000000;
$color-deep: #433D3A;
$color-muted: #ACACAC;
$color-bright: #eceff1; // OR #f1eafb;
$color-brightest: #FFFFFF;
$color-gray: darken($color-bright, 20%);
$color-light-transparent: rgba(255, 255, 255, 0.6);

$color-primary-dim: #0c9976;
$color-primary-bright: #1CD1A5;

// Applied color values
$color-bg: $color-bright;
$color-bg-code: $color-brightest;
$color-border-code: $color-muted;
$color-text-dark: $color-deep;
$color-text-light: $color-bright;
$color-text-muted: $color-muted;
$color-text-active: $color-primary-dim;

// Spacing
$item-spacing-1: 0.375em;
$item-spacing-2: 0.75em;
$item-spacing-3: 1.5em;
$item-spacing-4: 3em;
$item-spacing-5: 6em;
$item-spacing-6: 12em;
$item-spacing-7: 24em;
$icon-size: $item-spacing-3;

// Page padding
$nav-padding: $item-spacing-2;
$page-padding: $item-spacing-5;
$content-top-padding: $page-padding + $nav-padding * 2;

// Z-indices
$z-max: 999;
$z-high: 900;
$z-med: 600;
$z-low: 400;
$z-min: 0;