footer {
	$border-weight: 1px;
	$height: $icon-size;
	$padding: $height/2;

	@extend %container;
	margin: $edge-padding 0;
	border-top: $border-weight solid $color-primary-dim;
	.copy, ul, li {
		display: inline-block;
	}
	p, ul {
		height: $height;
		margin: $padding 0;
	}
	ul {
		float: right;
	}
	li {
		padding: 0 $padding;
	}
}