// For the main intro in index.html
.homepage-content {
	@extend %standard-inset;
}
.intro {
	$intro-img: "/img/dg-portrait.jpg";
	
	@extend %container;
	display: block;
	padding: $item-spacing-6 $item-spacing-5;
	margin-bottom: $item-spacing-3;
	color: $color-deep;
	background: url($intro-img) no-repeat center right;
	background-size: contain;
	h1 {
		@include span(3 of 4);
	}
	p {
		@include span(1 of 2);
	}
}