// For the main intro in index.html
.intro {
	@extend %container;
	display: block;
	margin: $intro-inset auto;

	.content {
		@include span($intro-content-width nest);
		@include push($intro-offset-width);
    	position:relative;
	}
	img {
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		margin-left: 2em;
	}
	
	.text {
		@include span($intro-text-width last);
	}
}