// For the main intro in index.html
.intro {
	$intro-img: "/img/haily.jpg";
	
	@extend %container;
	display: block;
	padding: $edge-padding*4 $edge-padding;
	color: $color-bright;
	background: url($intro-img) no-repeat center center;
	background-size: cover;
	h1 {
		@include span(3 of 4);
	}
	p {
		@include span(1 of 2);
	}
	@extend %animate-fade-in;
}