/*
 * Mixins and extensions to be used globally
 */

%standard-inset {
	margin-left: $page-padding;
	margin-right: $page-padding;
}

%standard-padded-inset {
	padding-left: $page-padding;
	padding-right: $page-padding;
}

// Sticks over top of parent
%overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

// Size of parent
%flush {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

// Green gradient on whatever text this is applied to
%gradient-words {
	background-image: linear-gradient(to bottom, $color-primary-bright, $color-primary-dim);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

// Assumes parent is height:100% or absolutely sized
%vertically-centered {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

// Helps with media queries to reduce typing
@mixin bp($size) {
    @media screen and (max-width: $size) {
        @content;
    }
}