/*
 * Mixins and extensions to be used globally
 */

%container {
	@include container;
}

%fake-underline {
	content: '';
	position: absolute;
	left: 0;
	display: inline-block;
	height: 1.5em;
	width: 100%;
	border-bottom: 2px solid;
	margin-top: 5px;
}

%show {
	opacity: 1.0;
}

%hide {
	@include transition(opacity);
	opacity: 0;
}

// Sticks over top of parent
%overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

// Size of parent
%flush {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

// Makes text truncate and show ...
%text-more {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

// Assumes parent is height:100%
%vertically-centered {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

// When applied to empty span within <a></a>, overlays link
.link-spanner {
	@extend %flush;
	@extend %overlay;
	z-index: 1;
}

// Vertically aligns anything
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}

// Simpler to leave off properties
@mixin box-shadow($color, $x: 0, $y: 0, $blur: 0) {
	box-shadow: $x $y $blur 0px $color;
}

// Helps with media queries to reduce typing
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}