// Styles for navigation
nav {
	@extend %container;
	display: block;
	height: $nav--header-height -$inset*2;
	padding: $inset;

	img {
		float: left;
	}

	ul {
		float: right;
		li {
			display: inline-block;
			margin: 0 $inset;
			color: $color-text-muted;
			a {
				@include anim(color);
				display: inherit;
				color: inherit;
				position: relative;
				text-decoration: none;
				font-weight: $nav--fweight-text;
				font-size: $nav--fsize-text;

				&:after {
					@include anim(opacity);
					@extend %fake-underline;
					@extend %hide;
				}

				&:hover {
					color: $color-text-dark;
					&:after {
						@extend %show;
					}
				}
				&.router-link-active {
					color: $color-text-active;
					&:after {
						@extend %show;
					}
				}					
			}
		}
	}
}