// Styles for navigation
header>nav {
	@extend %standard-inset;
}

nav {
	$nav-height: 100px;
	$nav-spacing: 20px;

	@extend %container;
	display: block;
	height: $nav-height;

	img {
		float: left;
	}

	ul {
		float: right;
	}

	li {
		display: inline-block;
		margin: 0 $nav-spacing;
	}

	a {
		@include transition(color);
		color: $color-text-muted;
		position: relative;
		text-decoration: none;

		// Dark background, so light text
		header.background & {
			color: $color-text-light;
		}

		&:after {
			@extend %fake-underline;
			@extend %hide;
		}

		&:hover:after, &.active:after {
			@extend %show;
		}

		&.active {
			color: $color-text-active;
		}				
	}
}