// Styles for navigation
nav {
	@extend %container;
	display: block;
	height: $nav-height;

	img {
		float: left;
	}

	ul {
		float: right;
	}

	li {
		display: inline-block;
		margin: 0 $inset;
	}

	a {
		@include anim(color);
		color: $color-text-muted;
		position: relative;
		text-decoration: none;

		&:after {
			@include anim(opacity);
			@extend %fake-underline;
			@extend %hide;
		}

		&:hover:after, &.active:after {
			@extend %show;
		}

		&.active {
			color: $color-text-active;
		}				
	}
}