$offset: $item-spacing-4;
$header-height: $offset + $item-spacing-7 + $item-spacing-2;

.post-fg-light {
	color: $color-bright;
}

.post-header {
	padding: $offset;
	margin-top: $offset;
	margin-bottom: $offset;
	height: $header-height;

	.meta {
		@extend %vertically-centered;
		@include span($col/2);
	}

	.leading-image {
		@extend %vertically-centered;
		width: span($col/2);
	}

	.tag {
		margin-right: $item-spacing-2;
	}
}