.post-header {
	$bottom-offset: $item-spacing-3;
	$header-height: $bottom-offset + $item-spacing-7;

	@extend %full-inset;
	margin-bottom: $bottom-offset;
	height: $header-height;

	&.post-fg-light {
		color: $color-bright;
	}

	.meta, .leading-image {
		@extend %vertically-centered;
		@include span($col/2);
	}

	.tag {
		margin-right: $item-spacing-2;
	}
}