.post-content {

	section {
		@extend %standard-inset;

		&:nth-child(3n-1) {
			margin-left: 0;
			margin-right: 0;
			@extend %full-inset;
			padding-top: $item-spacing-2;
			padding-bottom: $item-spacing-2;
			background: $color-primary-bright;
		}
	}

}