// TODO: REMOVE
@for $i from 1 through 20 {
	.proj-card:nth-child(#{$i}) .data {
		background-color: hsla(random(365), random(80), 30, 1);
	}
}
/////

.proj-card {
	@include anim(all);
	display: block;
	position: relative;
	background: $color-primary-dim;

	// All possible layouts
	@include span($col/$cards-per-row);
	&.wide {
		@include span($col/$cards-per-row * 2);
	}

	// Reset to full width
	@include media-query($one-column) {
		&, &.wide {
			@include span($col last);
		}
	}

	img {
		@include anim(all);
		@extend %flush-width;
	}

	.data {
		@include anim(all);
		@extend %overlay;
		padding: $edge-padding;
		color: $color-text-light;
	}

	ul {
		margin: $card-text-margin;
		padding: 0;
	}

	li {
		padding: $card-tag-padding;
		list-style-type: none;
		display: inline-block;
	}

	// Hover state
	&:hover {
		@include box-shadow($card-shadow-color, $blur: $card-shadow-blur);
		transform: scale($card-hover-scale);
	}

}