// Helper for properly flowing project cards
@mixin cards-per($num) {
	width: span($col/$num);
	&.wide {
		width: span($col/$num * 2);
	}
}

.proj-card {
	position: relative;
	height: 24vw;
	@include anim(transform);

	// Grids
	@include cards-per($cards-per-row); // regular grid
	@include media-query($two-column) {
		@include cards-per($cards-per-row-small); // smaller grid
	}
	@include media-query($one-column) {
		@include cards-per(1); // full width
	}

	img {
		@extend %flush-width;
		position: absolute;
		height: 100%;
	}

	.data {
		position: relative;
		height: 100%;
		padding: $edge-padding/2 $edge-padding;
		color: $color-text-light;
		h3 {
			@include span(2*$col/3);
		}
		p {
			@include span($col/2);
			position: absolute;
			bottom: 0;
			font-size: 1em;
		}
	}

	ul {
		margin: $card-text-margin;
		padding: 0;
	}

	li {
		padding: $card-tag-padding;
		list-style-type: none;
		display: inline-block;
	}

	// Hover state
	&:hover {
		@include box-shadow($card-shadow-color, $blur: $card-shadow-blur);
		transform: scale($card-hover-scale);
	}

}