// Helper for properly flowing project cards
@mixin cards-per($num) {
	&:nth-child(#{$num}n) {
		// TODO: @dgattey fix the 2 per grid case - it's because this takes precedent
		@include span($col/$num last);
	}
	@include span($col/$num);
}

// Project card component
.proj-card {
	$max-cards: 12;
	$card-height: 380px;
	$hover-scale: 1.02;
	$desc-size: 0.9em;
	$corner-radius: 4px;

	position: relative;
	height: 100%;
	margin-bottom: gutter();
	border-radius: $corner-radius;

	// Grids
	@include cards-per(3); // regular grid
	@include bp($large-bp) {
		@include cards-per(2); // smaller grid
	}
	@include bp($small-bp) {
		@include cards-per(1); // full width
	}

	// Hover state
	@extend %shadow-on-hover;
	&:hover {
		@include random-rotate(scale($hover-scale));
		img {
			filter: brightness(60%);
		}
		.data {
			@extend %show;
		}
	}

	img {
		@extend %flush;
		vertical-align: middle;
		@include transition(filter);
		border-radius: $corner-radius;
	}

	.data {
		@extend %hide;
		position: absolute;
		height: 100%;
		padding: $item-spacing-2 $item-spacing-3;
		color: $color-text-light;
		z-index: 999;
		h3 {
			@include span($col);
			opacity: 1.0;
		}
		p {
			@include span($col);
			opacity: 1.0;
			position: absolute;
			bottom: 0;
			font-size: $desc-size;
		}
	}
}