/* Styles targeting the project grid */
.page {
	@extend %container;
	padding: $edge-padding;
	&.full {
		padding: inherit;
		h1 {
			padding: $edge-padding;
		}
	}
}

.projects {
	@include span($col);

	.proj-grid {
		@extend %container;
	}
}