// The image hangs down into the paragraph below, so adjust the sizes
.tagged-ios {

	.leading-image {
		margin: span($col/12);
		margin-top: $item-spacing-4;
		width: span($col/3);
	}

	// Make first paragraph large text and left fit
	.post-content>section:nth-child(1) {
		padding-right: span($col/2);
		font-size: 1.05em;
	}

}